---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AAB9stWus_AuObauPiwnvmNKL-z2_3mpHFW8ddoPEkPhNDFVSqd9Kscp8VFXOKGU1UetPmL6J1yy4a5DllL36px5VBQQ7EuJrJB9_2r1cHQ1tmeFVeEjtPSPC49C3XYakpNDd9KYDmY8cw","expires":"2016-03-15T15:39:34.325Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AAB9stWus_AuObauPiwnvmNKL-z2_3mpHFW8ddoPEkPhNDFVSqd9Kscp8VFXOKGU1UetPmL6J1yy4a5DllL36px5VBQQ7EuJrJB9_2r1cHQ1tmeFVeEjtPSPC49C3XYakpNDd9KYDmY8cw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "00fc2e3e-ee2b-48fe-b719-92f0d4c66e83"}, {"status": "ACTIVE", "subnets": [],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "2cec2875-dc96-420f-9e8c-81bb9e2b06df"}, {"status":
        "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up": true, "tenant_id":
        "<RS_TENANT_ID>", "shared": false, "id": "4401ecd1-ea94-455f-ae1b-785de7a3ac0d"}],
        "networks_links": [{"href": "http://localhost:9696/v2.0/networks?marker=00fc2e3e-ee2b-48fe-b719-92f0d4c66e83&page_reverse=True",
        "rel": "previous"}]}'
  recorded_at: Mon, 14 Mar 2016 15:39:25 GMT
recorded_with: VCR 3.0.1
