---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAY4l1VnM-lGwFN8rINxjQtB3HkU5rCH-U874gstG6skBzi7xbsEOF3td8r-xR1cjbxyu3yWdbgdbhYPGtFdOniFTJYSQ-mPGRXP-0NGbFrVh_ARBvo7egwUUdyS6mkkDBx_POLw","expires":"2016-03-18T14:43:52.755Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: post
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services
    body:
      encoding: UTF-8
      string: '{"name":"some-domain-name.com","flavor_id":"cdn","domains":[{"domain":"www.149307.com"}],"origins":[{"origin":"www.149321.com","rules":[{"name":"SomethingElse","request_url":"hotmail.com"}]}]}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAY4l1VnM-lGwFN8rINxjQtB3HkU5rCH-U874gstG6skBzi7xbsEOF3td8r-xR1cjbxyu3yWdbgdbhYPGtFdOniFTJYSQ-mPGRXP-0NGbFrVh_ARBvo7egwUUdyS6mkkDBx_POLw
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services/a9392de7-3566-40c8-8f40-11b5ecfe060a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 14:53:39 GMT
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAY4l1VnM-lGwFN8rINxjQtB3HkU5rCH-U874gstG6skBzi7xbsEOF3td8r-xR1cjbxyu3yWdbgdbhYPGtFdOniFTJYSQ-mPGRXP-0NGbFrVh_ARBvo7egwUUdyS6mkkDBx_POLw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"services": [{"name": "some-domain-name.com", "id": "18dc949d-d89a-48b0-8af3-7b81ff756d1e",
        "project_id": "<RS_TENANT_ID>", "domains": [{"domain": "www.754925.com", "protocol":
        "http"}], "origins": [{"origin": "www.754934.com", "port": 80, "ssl": false,
        "rules": [{"name": "SomethingElse", "request_url": "hotmail.com"}], "hostheadertype":
        "domain"}], "restrictions": [], "caching": [{"name": "default", "ttl": 86400,
        "rules": [{"name": "default", "request_url": "/*"}]}], "flavor_id": "cdn",
        "log_delivery": {"enabled": false}, "status": "deployed", "errors": [], "links":
        [{"href": "https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services/18dc949d-d89a-48b0-8af3-7b81ff756d1e",
        "rel": "self"}, {"href": "https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/flavors/cdn",
        "rel": "flavor"}, {"href": "www.754925.com.cdn304.raxcdn.com", "rel": "access_url"}]},
        {"name": "some-domain-name.com", "id": "2642e433-af2b-40ab-a947-acdcdd691a54",
        "project_id": "<RS_TENANT_ID>", "domains": [{"domain": "www.32569.com", "protocol":
        "http"}], "origins": [{"origin": "www.32577.com", "port": 80, "ssl": false,
        "rules": [{"name": "SomethingElse", "r[...]
- request:
    method: delete
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services/a9392de7-3566-40c8-8f40-11b5ecfe060a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAY4l1VnM-lGwFN8rINxjQtB3HkU5rCH-U874gstG6skBzi7xbsEOF3td8r-xR1cjbxyu3yWdbgdbhYPGtFdOniFTJYSQ-mPGRXP-0NGbFrVh_ARBvo7egwUUdyS6mkkDBx_POLw
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 14:53:40 GMT
[...]
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services/a9392de7-3566-40c8-8f40-11b5ecfe060a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAY4l1VnM-lGwFN8rINxjQtB3HkU5rCH-U874gstG6skBzi7xbsEOF3td8r-xR1cjbxyu3yWdbgdbhYPGtFdOniFTJYSQ-mPGRXP-0NGbFrVh_ARBvo7egwUUdyS6mkkDBx_POLw
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"message": "service a9392de7-3566-40c8-8f40-11b5ecfe060a could not
        be found"}'
  recorded_at: Thu, 17 Mar 2016 15:33:20 GMT
recorded_with: VCR 3.0.1
