---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vA9IqoiUVcIZp2d52nMDIjACj_glyx35CFBW2xirfw9khdVxTHCB5xEF_4E6nsZwpBgTAew3xfHDfCturuxjZGs3VeHLgjMioPbdWjYiEamWMxuVBG16ESoDtE9OAJBpta9w8GRQ","expires":"2016-03-18T14:47:06.857Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: post
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services
    body:
      encoding: UTF-8
      string: '{"name":"some-domain-name.com","flavor_id":"cdn","domains":[{"domain":"www.162728.com"}],"origins":[{"origin":"www.162742.com","rules":[{"name":"SomethingElse","request_url":"hotmail.com"}]}]}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA9IqoiUVcIZp2d52nMDIjACj_glyx35CFBW2xirfw9khdVxTHCB5xEF_4E6nsZwpBgTAew3xfHDfCturuxjZGs3VeHLgjMioPbdWjYiEamWMxuVBG16ESoDtE9OAJBpta9w8GRQ
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services/39bb0998-863f-4ad6-9ded-b8a60f9c03b7
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 14:53:29 GMT
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services/39bb0998-863f-4ad6-9ded-b8a60f9c03b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA9IqoiUVcIZp2d52nMDIjACj_glyx35CFBW2xirfw9khdVxTHCB5xEF_4E6nsZwpBgTAew3xfHDfCturuxjZGs3VeHLgjMioPbdWjYiEamWMxuVBG16ESoDtE9OAJBpta9w8GRQ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name": "some-domain-name.com", "id": "39bb0998-863f-4ad6-9ded-b8a60f9c03b7",
        "project_id": "<RS_TENANT_ID>", "domains": [{"domain": "www.162728.com", "protocol":
        "http"}], "origins": [{"origin": "www.162742.com", "port": 80, "ssl": false,
        "rules": [{"name": "SomethingElse", "request_url": "hotmail.com"}], "hostheadertype":
        "domain"}], "restrictions": [], "caching": [{"name": "default", "ttl": 86400,
        "rules": [{"name": "default", "request_url": "/*"}]}], "flavor_id": "cdn",
        "log_delivery": {"enabled": false}, "status": "create_in_progress", "errors":
        [], "links": [{"href": "https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/services/39bb0998-863f-4ad6-9ded-b8a60f9c03b7",
        "rel": "self"}, {"href": "https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/flavors/cdn",
        "rel": "flavor"}]}'
  recorded_at: Thu, 17 Mar 2016 14:53:29 GMT
recorded_with: VCR 3.0.1
