---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AAB9stWuS9LF3Y0vYOFPhtizEX3c4iOs0HffWO7h6Mi-eJoOEAKB1A77L8P9n_0FrNbpj4jUYiIpDFxIWLyCEWKwP2ZZE8UX-iXXp8xF_Td2drgVvW8Tapa8d-3EQEG5GZnKQiYmzdmGQQ","expires":"2016-03-15T15:47:45.991Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: post
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"ANewNetwork"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AAB9stWuS9LF3Y0vYOFPhtizEX3c4iOs0HffWO7h6Mi-eJoOEAKB1A77L8P9n_0FrNbpj4jUYiIpDFxIWLyCEWKwP2ZZE8UX-iXXp8xF_Td2drgVvW8Tapa8d-3EQEG5GZnKQiYmzdmGQQ
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "ac0a44ae-fe30-46cc-aaed-b0d60700ae42"}}'
  recorded_at: Mon, 14 Mar 2016 15:39:37 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AAB9stWuS9LF3Y0vYOFPhtizEX3c4iOs0HffWO7h6Mi-eJoOEAKB1A77L8P9n_0FrNbpj4jUYiIpDFxIWLyCEWKwP2ZZE8UX-iXXp8xF_Td2drgVvW8Tapa8d-3EQEG5GZnKQiYmzdmGQQ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "00fc2e3e-ee2b-48fe-b719-92f0d4c66e83"}, {"status": "ACTIVE", "subnets": [],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "2cec2875-dc96-420f-9e8c-81bb9e2b06df"}, {"status":
        "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up": true, "tenant_id":
        "<RS_TENANT_ID>", "shared": false, "id": "4401ecd1-ea94-455f-ae1b-785de7a3ac0d"},
        {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up":
        true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id": "ac0a44ae-fe30-46cc-aaed-b0d60700ae42"}],
        "networks_links": [{"href": "http://localhost:9696/v2.0/networks?marker=00fc2e3e-ee2b-48fe-b719-92f0d4c66e83&page_reverse=True",
        "rel": "previous"}]}'
  recorded_at: Mon, 14 Mar 2016 15:39:37 GMT
- request:
    method: post
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/subnets
    body:
      encoding: UTF-8
      string: '{"subnet":{"name":"ANewsubnet","cidr":"192.168.101.1/24","network_id":"ac0a44ae-fe30-46cc-aaed-b0d60700ae42","ip_version":"4"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AAB9stWuS9LF3Y0vYOFPhtizEX3c4iOs0HffWO7h6Mi-eJoOEAKB1A77L8P9n_0FrNbpj4jUYiIpDFxIWLyCEWKwP2ZZE8UX-iXXp8xF_Td2drgVvW8Tapa8d-3EQEG5GZnKQiYmzdmGQQ
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"subnet": {"name": "ANewsubnet", "enable_dhcp": null, "network_id":
        "ac0a44ae-fe30-46cc-aaed-b0d60700ae42", "tenant_id": "<RS_TENANT_ID>", "dns_nameservers":
        [], "allocation_pools": [{"start": "192.168.101.1", "end": "192.168.101.254"}],
        "host_routes": [], "ip_version": 4, "gateway_ip": null, "cidr": "192.168.101.1/24",
        "id": "84e7017b-0d89-4e98-95ff-bc54b3261e0e"}}'
  recorded_at: Mon, 14 Mar 2016 15:39:38 GMT
recorded_with: VCR 3.0.1
