---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stacks\": [{\"parent\": null, \"description\": \"This is a Heat
        template to deploy a standalone redis server on\\nRackspace Cloud Servers\\n\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"self\"}], \"stack_status_reason\": \"Stack successfully updated\",
        \"stack_name\": \"def\", \"creation_time\": \"2014-11-09T22:34:33Z\", \"updated_time\":
        \"2014-11-09T22:39:51Z\", \"stack_owner\": null, \"stack_status\": \"UPDATE_COMPLETE\",
        \"id\": \"5487e245-8dd5-4077-ad9c-f08d79f5ed4e\"}, {\"parent\": null, \"description\":
        \"This is a Heat template to deploy a standalone redis server on\\nRackspace
        Cloud Servers\\n\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/abc/699a75ed-9eee-460a-9225-13515b8e27e6\",
        \"rel\": \"self\"}], \"stack_status_reason\": \"Stack CREATE completed successfully\",
        \"stack_name\": \"abc\", \"creation_time\": \"2014-11-09T22:34:12Z\", \"updated_time\":
        null, \"stack_owner\": null, \"stack_status\": \"CREATE_COMPLETE\", \"id\":
        \"699a75ed-9eee-460a-9225-13515b8e27e6\"}]}"
  recorded_at: Sun, 09 Nov 2014 22:44:25 GMT
- request:
    method: post
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks
    body:
      encoding: UTF-8
      string: "{\"stack_name\":\"a_redis_stack\",\"template\":\"heat_template_version:
        2013-05-23\\n\\ndescription: |\\n  This is a Heat template to deploy a standalone
        redis server on\\n  Rackspace Cloud Servers\\n\\nparameter_groups:\\n\\n-
        label: Server Settings\\n  parameters:\\n  - flavor\\n  - image\\n\\n- label:
        Redis Settings\\n  parameters:\\n  - redis_port\\n\\n- label: rax-dev-params\\n
        \ parameters:\\n  - redis_version\\n  - redis_hostname\\n  - kitchen\\n  -
        chef_version\\n\\nparameters:\\n\\n  flavor:\\n    label: Server Size\\n    description:
        |\\n      Rackspace Cloud Server flavor to use. The size is based on the amount
        of\\n      RAM for the provisioned server.\\n    type: string\\n[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/bfb25253-291e-4c5f-af64-0b4ed5cd5cf8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stack\": {\"disable_rollback\": true, \"description\": \"This is
        a Heat template to deploy a standalone redis server on\\nRackspace Cloud Servers\\n\",
        \"parent\": null, \"stack_status_reason\": \"Stack CREATE started\", \"stack_name\":
        \"a_redis_stack\", \"stack_owner\": null, \"creation_time\": \"2014-11-09T22:43:10Z\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/bfb25253-291e-4c5f-af64-0b4ed5cd5cf8\",
        \"rel\": \"self\"}], \"capabilities\": [], \"notification_topics\": [], \"updated_time\":
        null, \"timeout_mins\": null, \"stack_status\": \"CREATE_IN_PROGRESS\", \"parameters\":
        {\"redis_hostname\": \"redis\", \"OS::stack_id\": \"bfb25253-291e-4c5f-af64-0b4ed5cd5cf8\",
        \"OS::stack_name\": \"a_redis_stack\", \"image\": \"Ubuntu 14.04 LTS (Trusty
        Tahr)\", \"redis_version\": \"2.8.14\", \"redis_port\": \"6379\", \"flavor\":
        \"1 GB General Purpose v1\", \"chef_version\": \"11.12.8\", \"kitchen\": \"https://github.com/rackspace-orchestration-templates/redis-single\"},
        \"id\": \"bfb25253-291e-4c5f-af64-0b4ed5cd5cf8\", \"template_description\":
        \"This is a Heat template to deploy a standalone redis server on\\nRackspace
        Cloud Servers\\n\"}}"
  recorded_at: Sun, 09 Nov 2014 22:44:30 GMT
[...]
- request:
    method: delete
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/bfb25253-291e-4c5f-af64-0b4ed5cd5cf8/abandon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"status\": \"COMPLETE\", \"name\": \"a_redis_stack\", \"stack_user_project_id\":
        \"930035\", \"environment\": {\"parameters\": {}, \"resource_registry\": {\"resources\":
        {}}}, \"template\": {\"parameter_groups\": [{\"parameters\": [\"flavor\",
        \"image\"], \"label\": \"Server Settings\"}, {\"parameters\": [\"redis_port\"],
        \"label\": \"Redis Settings\"}, {\"parameters\": [\"redis_version\", \"redis_hostname\",
        \"kitchen\", \"chef_version\"], \"label\": \"rax-dev-params\"}], \"heat_template_version\":
        \"2013-05-23\", \"description\": \"This is a Heat template to deploy a standalone
        redis server on\\nRackspace Cloud Servers\\n\", \"parameters\": {\"redis_hostname\":
        {\"default\": \"redis\", \"type\": \"string\", \"description\": \"Hostname
        for Redis server\", \"label\": \"Server Hostname\"}, \"image\": {\"default\":
        \"Ubuntu 14.04 LTS (Trusty Tahr)\", \"constraints\": [{\"description\": \"Must
        be a supported operating system.\", \"allowed_values\": [\"Ubuntu 12.04 LTS
        (Precise Pangolin)\", \"Ubuntu 14.04 LTS (Trusty Tahr)\"]}], \"type\": \"string\",
        \"description\": \"Server image used for all servers that are created as a
        part of this\\ndeployment\\n\", \"label\": \"Operating System\"}, \"redis_version\":
        {\"default\": \"2.8.14\", \"type\": \"string\", \"description\": \"version
        of Redis to install\", \"label\": \"Redis Version\"}, \"redis_port\": {\"default\":
        6379, \"constraints\": [{\"range\": {\"max\": 65535, \"min\": 1024}, \"description\":
        \"Must be between 1024 and 65535.\"}], \"type\": \"number\", \"description\":
        \"Port for redis servers to listen on.\", \"label\": \"Port\"}, \"flavor\":
        {\"default\": \"1 GB General Purpose v1\", \"constraints\": [{\"description\":
        \"Must be a valid Rackspace Cloud Server flavor for the region you have\\nselected
        to deploy into.\\n\", \"allowed_values\": [\"1 GB General Purpose v1\", \"2
        GB General Purpose v1\", \"4 GB General Purpose v1\", \"8 GB General Purpose
        v1\", \"15 GB I/O v1\", \"30 GB I/O v1\", \"512MB Standard Instance\", \"1GB
        Standard Instance\", \"2GB Standard Instance\", \"4GB Standard Instance\",
        \"8GB Standard Instance\", \"15GB Standard Instance\", \"30GB Standard Instance\"]}],
        \"type\": \"string\", \"description\": \"Rackspace Cloud Server flavor to
        use. The size is based on the amount of\\nRAM for the provisioned server.\\n\",
        \"label\": \"Server Size\"}, \"chef_version\": {\"default\": \"11.12.8\",
        \"type\": \"string\", \"description\": \"Version of chef client to use\",
        \"label\": \"Chef Version\"}, \"kitchen\": {\"default\": \"https://github.com/rackspace-orchestration-templates/redis-single\",
        \"type\": \"string\", \"description\": \"URL for the kitchen to use\", \"label\":
        \"Kitchen\"}}, \"outputs\": {\"redis_password\": {\"description\": \"Redis
        Password\", \"value\": {\"get_attr\": [\"redis_password\", \"value\"]}}, \"private_key\":
        {\"description\": \"SSH Private Key\", \"value\": {\"get_attr\": [\"ssh_key\",
        \"private_key\"]}}, \"redis_server_ip\": {\"description\": \"Server IP\",
        \"value\": {\"get_attr\": [\"redis_server\", \"accessIPv4\"]}}, \"redis_port\":
        {\"description\": \"Redis Port\", \"value\": {\"get_param\": \"redis_port\"}}},
        \"resources\": {\"redis_server\": {\"depends_on\": \"ssh_key\", \"type\":
        \"Rackspace::Cloud::Server\", \"properties\": {\"key_name\": {\"get_resource\":
        \"ssh_key\"}, \"flavor\": {\"get_param\": \"flavor\"}, \"name\": {\"get_param\":
        \"redis_hostname\"}, \"image\": {\"get_param\": \"image\"}, \"metadata\":
        {\"rax-heat\": {\"get_param\": \"OS::stack_id\"}}}}, \"redis_server_config\":
        {\"depends_on\": \"redis_server\", \"type\": \"OS::Heat::ChefSolo\", \"properties\":
        {\"username\": \"root\", \"node\": {\"redisio\": {\"default_settings\": {\"requirepass\":
        {\"get_attr\": [\"redis_password\", \"value\"]}}, \"version\": {\"get_param\":
        \"redis_version\"}, \"servers\": [{\"name\": {\"get_param\": \"redis_hostname\"},
        \"port\": {\"get_param\": \"redis_port\"}}]}, \"run_list\": [\"recipe[apt]\",
        \"recipe[build-essential]\", \"recipe[redisio::default]\", \"recipe[redisio::enable]\"]},
        \"private_key\": {\"get_attr\": [\"ssh_key\", \"private_key\"]}, \"host\":
        {\"get_attr\": [\"redis_server\", \"accessIPv4\"]}, \"chef_version\": {\"get_param\":
        \"chef_version\"}, \"kitchen\": {\"get_param\": \"kitchen\"}}}, \"ssh_key\":
        {\"type\": \"OS::Nova::KeyPair\", \"properties\": {\"name\": {\"get_param\":
        \"OS::stack_id\"}, \"save_private_key\": true}}, \"redis_password\": {\"type\":
        \"OS::Heat::RandomString\", \"properties\": {\"length\": 16, \"sequence\":
        \"lettersdigits\"}}}}, \"action\": \"CREATE\", \"project_id\": \"930035\",
        \"id\": \"bfb25253-291e-4c5f-af64-0b4ed5cd5cf8\", \"resources\": {\"redis_server\":
        {\"status\": \"COMPLETE\", \"name\": \"redis_server\", \"resource_data\":
        {\"private_key\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIICXQIBAAKBgQDlCACW0Xn4eDzs1/vuv8RQE3iGHh2liycJyZoeRHfs/23JnADg\\nQ7aGcodlcHWH0i4TtJRneZ8kb0DaHd9RPmyFSMaphcic3imJ0G5bfv9/j/D6JWnD\\nhzPX4CSxOivi27IxJ3jPRmuuIu3Xlj2CXHSV/GmembNmMkIcwp0B+/dCgQIDAQAB\\nAoGBAJdYKWOAOzRI6CGuO+mxyR0NMMiXoAmjoYFjOjekEQeIZtkiAKYxuKyxg+0x\\nWkkNR6t32dVi1hnydo1rzgVW1cghS3oGkZ+ZKGhruX3PI3tYIV3DBbWJEAhLmlNc\\n6A31DEsNrimEKf6xd4VYqR13abQL+390f5HgKbIaSnPALhmdAkEA50zWr6OGT/P2\\nmqWmhDSqLQRo5ZGLJ8VwlkBPlBeCVWCkvqJKSlKgG4THtIOa/7JBquTVI9nsU1zu\\n+mwWYfk40wJBAP19I056IHnWxbijAGpuXcqmr0/X+v9McOcNQJRj/DEcn8fs9SG4\\nXWEZ3qI9/x9hmCoCp0H3TVw8F0QYIM4mAtsCQCcndLgqwFPMgpRPMk7y81PHiVJD\\nPwEuhQ6KOG5jRGbbg0faBSVrszq1UXEXTie2rzMUpZf6De1WsAWoQmm3XI0CQHpv\\nBKyU5Da0+47we/TsFbUZyTdBVGQW4blXd0e0+0wlTS9dThDZYZDS0+t9Ekpv8vTn\\njy2XavAPvhUPqlinl10CQQC3Qbj8pUNjf4v1iKLPqsD2oTlslAcStKDrCjLfp3+I\\nWf3bsDF75bAHYHusLI/etxPozfqhG7hSYm0dqjpOj8rK\\n-----END
        RSA PRIVATE KEY-----\"}, \"resource_id\": \"f18aa371-cb17-4b12-85ba-41defee2bd61\",
        \"action\": \"CREATE\", \"type\": \"Rackspace::Cloud::Server\", \"metadata\":
        {}}, \"redis_password\": {\"status\": \"COMPLETE\", \"name\": \"redis_password\",
        \"resource_data\": {\"value\": \"BATqTg2nljDipxtL\"}, \"resource_id\": \"BATqTg2nljDipxtL\",
        \"action\": \"CREATE\", \"type\": \"OS::Heat::RandomString\", \"metadata\":
        {}}, \"ssh_key\": {\"status\": \"COMPLETE\", \"name\": \"ssh_key\", \"resource_data\":
 [...]
[...]
