---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/build_info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"engine\": {\"revision\": \"2014.k1-20141027-1178\"}, \"fusion-api\":
        {\"revision\": \"j1-20140915-10d9ee4-98\"}, \"api\": {\"revision\": \"2014.k1-20141027-1178\"}}"
  recorded_at: Sun, 09 Nov 2014 22:40:40 GMT
recorded_with: VCR 2.9.3
