---
http_interactions:
- request:
    method: post
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: UTF-8
      string: "{\"network\":{\"name\":\"ANewNetwork\"}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"network\": {\"status\": \"ACTIVE\", \"subnets\": [], \"name\": \"ANewNetwork\",
        \"admin_state_up\": true, \"tenant_id\": \"930035\", \"shared\": false, \"id\":
        \"2f5b6fed-faf2-4f62-8a0a-76a1dd261014\"}}"
  recorded_at: Sat, 13 Dec 2014 00:14:55 GMT
recorded_with: VCR 2.9.3
