---
http_interactions:
- request:
    method: post
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: UTF-8
      string: "{\"name\":\"some-domain-name.com\",\"flavor_id\":\"cdn\",\"domains\":[{\"domain\":\"959886.com\"}],\"origins\":[{\"origin\":\"959901.com\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b569654894ed4762a9a337ee334c36f5
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/d9bf9b3b-65c4-4e16-bc5c-cf9581e6ef9b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Apr 2015 18:36:18 GMT
recorded_with: VCR 2.9.3
