---
http_interactions:
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"networks\": [{\"status\": \"ACTIVE\", \"subnets\": [], \"name\":
        \"SomethingDifferent\", \"admin_state_up\": true, \"tenant_id\": \"930035\",
        \"shared\": false, \"id\": \"2f5b6fed-faf2-4f62-8a0a-76a1dd261014\"}]}"
  recorded_at: Sat, 13 Dec 2014 00:14:58 GMT
- request:
    method: post
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: UTF-8
      string: "{\"network\":{\"name\":\"soon_to_be_deleted\"}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"network\": {\"status\": \"ACTIVE\", \"subnets\": [], \"name\": \"soon_to_be_deleted\",
        \"admin_state_up\": true, \"tenant_id\": \"930035\", \"shared\": false, \"id\":
        \"4d8d4429-52ac-4ff5-b29f-a8e01eab6c3d\"}}"
  recorded_at: Sat, 13 Dec 2014 00:14:59 GMT
[...]
- request:
    method: delete
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks/4d8d4429-52ac-4ff5-b29f-a8e01eab6c3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 13 Dec 2014 00:15:20 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"networks\": [{\"status\": \"ACTIVE\", \"subnets\": [], \"name\":
        \"SomethingDifferent\", \"admin_state_up\": true, \"tenant_id\": \"930035\",
        \"shared\": false, \"id\": \"2f5b6fed-faf2-4f62-8a0a-76a1dd261014\"}]}"
  recorded_at: Sat, 13 Dec 2014 00:15:20 GMT
recorded_with: VCR 2.9.3
