---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stacks\": [{\"parent\": null, \"description\": \"This is a Heat
        template to deploy a standalone redis server on\\nRackspace Cloud Servers\\n\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"self\"}], \"stack_status_reason\": \"Stack successfully updated\",
        \"stack_name\": \"def\", \"creation_time\": \"2014-11-09T22:34:33Z\", \"updated_time\":
        \"2014-11-09T22:39:51Z\", \"stack_owner\": null, \"stack_status\": \"UPDATE_COMPLETE\",
        \"id\": \"5487e245-8dd5-4077-ad9c-f08d79f5ed4e\"}, {\"parent\": null, \"description\":
        \"This is a Heat template to deploy a standalone redis server on\\nRackspace
        Cloud Servers\\n\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/abc/699a75ed-9eee-460a-9225-13515b8e27e6\",
        \"rel\": \"self\"}], \"stack_status_reason\": \"Stack CREATE completed successfully\",
        \"stack_name\": \"abc\", \"creation_time\": \"2014-11-09T22:34:12Z\", \"updated_time\":
        null, \"stack_owner\": null, \"stack_status\": \"CREATE_COMPLETE\", \"id\":
        \"699a75ed-9eee-460a-9225-13515b8e27e6\"}]}"
  recorded_at: Sun, 09 Nov 2014 22:53:53 GMT
- request:
    method: post
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks
    body:
      encoding: UTF-8
      string: "{\"stack_name\":\"a_redis_stack\",\"template\":\"heat_template_version:
        2013-05-23\\n\\ndescription: |\\n  This is a Heat template to deploy a standalone
        redis server on\\n  Rackspace Cloud Servers\\n\\nparameter_groups:\\n\\n-
        label: Server Settings\\n  parameters:\\n  - flavor\\n  - image\\n\\n- label:
        Redis Settings\\n  parameters:\\n  - redis_port\\n\\n- label: rax-dev-params\\n
        \ parameters:\\n  - redis_version\\n  - redis_hostname\\n  - kitchen\\n  -
        chef_version\\n\\nparameters:\\n\\n  flavor:\\n    label: Server Size\\n    description:
        |\\n      Rackspace Cloud Server flavor to use. The size is based on the amount
        of\\n      RAM for the provisioned server.\\n    type: string\\n[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/d5694051-3c5f-4340-9f6b-73695174ca97
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stack\": {\"disable_rollback\": true, \"description\": \"This is
        a Heat template to deploy a standalone redis server on\\nRackspace Cloud Servers\\n\",
        \"parent\": null, \"stack_status_reason\": \"Stack CREATE started\", \"stack_name\":
        \"a_redis_stack\", \"stack_owner\": null, \"creation_time\": \"2014-11-09T22:52:40Z\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/d5694051-3c5f-4340-9f6b-73695174ca97\",
        \"rel\": \"self\"}], \"capabilities\": [], \"notification_topics\": [], \"updated_time\":
        null, \"timeout_mins\": null, \"stack_status\": \"CREATE_IN_PROGRESS\", \"parameters\":
        {\"redis_hostname\": \"redis\", \"OS::stack_id\": \"d5694051-3c5f-4340-9f6b-73695174ca97\",
        \"OS::stack_name\": \"a_redis_stack\", \"image\": \"Ubuntu 14.04 LTS (Trusty
        Tahr)\", \"redis_version\": \"2.8.14\", \"redis_port\": \"6379\", \"flavor\":
        \"1 GB General Purpose v1\", \"chef_version\": \"11.12.8\", \"kitchen\": \"https://github.com/rackspace-orchestration-templates/redis-single\"},
        \"id\": \"d5694051-3c5f-4340-9f6b-73695174ca97\", \"template_description\":
        \"This is a Heat template to deploy a standalone redis server on\\nRackspace
        Cloud Servers\\n\"}}"
  recorded_at: Sun, 09 Nov 2014 22:54:00 GMT
[...]
