---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 14 Nov 2014 01:02:04 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: "{\"auth\":{\"RAX-KSKEY:apiKeyCredentials\":{\"username\":\"test_account\",\"apiKey\":\"api_key\"}}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"access\":{\"token\":{\"id\":\"3137d0afe9f94ddda063961901d3bec8\",\"expires\":\"2014-11-14T16:17:08.059Z\",\"tenant\":{\"id\":\"930035\",\"name\":\"930035\"},\"RAX-AUTH:authenticatedBy\":[\"APIKEY\"]},\"serviceCatalog\":[{\"name\":\"cloudFilesCDN\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn5.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn4.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn1.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"HKG\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn6.clouddrive.com\\/v1\\/MossoCloudFS_930035\"}],\"type\":\"rax:object-cdn\"},{\"name\":\"cloudFiles\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.dfw1.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3137d0afe9f94ddda063961901d3bec8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stack\": {\"parent\": null, \"disable_rollback\": true, \"description\":
        \"This is a Heat template to deploy a standalone redis server on\\nRackspace
        Cloud Servers\\n\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5\",
        \"rel\": \"self\"}], \"stack_status_reason\": \"Stack CREATE completed successfully\",
        \"stack_name\": \"a_redis_stack\", \"outputs\": [{\"output_value\": \"xhJNB27NpfQMFvMS\",
        \"description\": \"Redis Password\", \"output_key\": \"redis_password\"},
        {\"output_value\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIIEpQIBAAKCAQEA6/msrQ0V1LV7jp5/LoZw5asO03mlcJ53a/me7okJFReul6Zg\\n2+KoVdl8FcRe/6uDfJhN3NuKpKD0mzRwmQzviBefoMr6wZeqEMX4e++LaSCujzMj\\nTeOQNwOjZfgrveiL3518mJsGC/zrOB0CMc0sJwqBU+0oXrMZIo3bjkiepr4VbWny\\nkafm+Wznc2T3IoYbvBcmst7CPODsNKZ/w+jFBFOr8Lt+2KkuY0fXHRpdM1qTp714\\nxrYOZP5EtV5rSYeP/424p3rXaBxkbNg6EcVX8p0s5bkGL+mLu4d8F3WgOS+ALeCS\\nYYVOu0N2K0i75D0lB6PpuoLacBUea9qs6z8LkQIDAQABAoIBAQCYLIeNhW25oVtP\\nqqiLwUkW4swJ1[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3137d0afe9f94ddda063961901d3bec8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"resources\": [{\"resource_name\": \"redis_server\", \"links\": [{\"href\":
        \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server\", \"resource_status\":
        \"CREATE_COMPLETE\", \"updated_time\": \"2014-11-13T16:32:30Z\", \"required_by\":
        [\"redis_server_config\"], \"resource_status_reason\": \"state changed\",
        \"physical_resource_id\": \"1c1207df-d993-44f8-b098-4787063a065f\", \"resource_type\":
        \"Rackspace::Cloud::Server\"}, {\"resource_name\": \"redis_server_config\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server_config\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server_c[...]
[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3137d0afe9f94ddda063961901d3bec8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"events\": [{\"resource_name\": \"redis_server\", \"event_time\":
        \"2014-11-13T16:33:12Z\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server/events/4a67c293-f3ab-4572-a3f5-4d2009e80cef\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server\",
        \"rel\": \"resource\"}, {\"href\": \"https://iad.orchestratio[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server/events/4a67c293-f3ab-4572-a3f5-4d2009e80cef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3137d0afe9f94ddda063961901d3bec8
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"event\": {\"resource_name\": \"redis_server\", \"event_time\": \"2014-11-13T16:33:12Z\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server/events/4a67c293-f3ab-4572-a3f5-4d2009e80cef\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5/resources/redis_server\",
        \"rel\": \"resource\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/a_redis_stack/ee648a3b-14a3-4df8-aa58-620a9d67e3e5\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server\", \"resource_status\":
        \"CREATE_COMPLETE\", \"resource_status_reason\": \"state changed\", \"physical_resource_id\":
        \"1c1207df-d993-44f8-b098-4787063a065f\", \"resource_properties\": {\"admin_pass\":
        null, \"flavor\": \"1 GB General Purpose v1\", \"availability_zone\": null,
        \"personality\": {}, \"image\": \"Ubuntu 14.04 LTS (Trusty Tahr)\", \"user_data\":
        \"\", \"diskConfig\": null, \"flavor_update_policy\": \"RESIZE\", \"save_admin_pass\":
        false, \"reservation_id\": null, \"networks\": null, \"security_groups\":
        [], \"scheduler_hints\": null, \"metadata\": {\"rax-heat\": \"ee648a3b-14a3-4df8-aa58-620a9d67e3e5\"},
        \"user_data_format\": \"HEAT_CFNTOOLS\", \"admin_user\": null, \"block_device_mapping\":
        null, \"key_name\": \"ee648a3b-14a3-4df8-aa58-620a9d67e3e5\", \"software_config_transport\":
        \"POLL_SERVER_CFN\", \"name\": \"redis\", \"image_update_policy\": \"REPLACE\",
        \"config_drive\": null}, \"id\": \"4a67c293-f3ab-4572-a3f5-4d2009e80cef\",
        \"resource_type\": \"Rackspace::Cloud::Server\"}}"
  recorded_at: Fri, 14 Nov 2014 01:02:10 GMT
recorded_with: VCR 2.9.3
