---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stack\": {\"parent\": null, \"disable_rollback\": true, \"description\":
        \"This is a Heat template to deploy a standalone redis server on\\nRackspace
        Cloud Servers\\n\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"self\"}], \"stack_status_reason\": \"Stack successfully updated\",
        \"stack_name\": \"def\", \"outputs\": [{\"output_value\": \"DIvKlLgu9KgxxKM5\",
        \"description\": \"Redis Password\", \"output_key\": \"redis_password\"},
        {\"output_value\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIIEowIBAAKCAQEAsiUziCPUzJGdB1L5bIgkKICvV/k3wdGph8+5N0J67uqiNKbt\\n+627NPHK/1zVRzZNPjZHvqhaI2DzQiKLha7vQPTdeWgw4sMChnIGVBHNKU+ugMqr\\ns6wmj87HvxSjo/mXAAbJvv8wC2Sgn5KIJjq5Ofm72SpEOEgp6Pc4tHZBHpibfwaW\\n3AEYrgt81pF7l0/KO+V9JX7Aqb30sHNWfqIeImw4IzpuLITaaMe14ayfL5IfMKXw\\nVN9X3bSrZqwZdjJqshAQczcCnO0t93lw2aN8DWBAPMhE0jiVljMoNI2dveLHbHg+\\nj2D14yYqI+nirhLk8y7KnL6yV9dRJAd6dx44OwIDAQABAoIBAAjVk3Ki5ECoz/K3\\nCKt7LN/dUdS5B[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_password
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"resource\": {\"resource_name\": \"redis_password\", \"description\":
        \"\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_password\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_password\", \"resource_status\":
        \"CREATE_COMPLETE\", \"updated_time\": \"2014-11-09T22:34:34Z\", \"required_by\":
        [\"redis_server_config\"], \"resource_status_reason\": \"state changed\",
        \"physical_resource_id\": \"DIvKlLgu9KgxxKM5\", \"resource_type\": \"OS::Heat::RandomString\"}}"
  recorded_at: Sun, 09 Nov 2014 22:40:44 GMT
recorded_with: VCR 2.9.3
