---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 10 Nov 2014 03:15:18 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: "{\"auth\":{\"RAX-KSKEY:apiKeyCredentials\":{\"username\":\"test_account\",\"apiKey\":\"api_key\"}}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"access\":{\"token\":{\"id\":\"b3b36e79523c4a2bad5e7ba7b9519547\",\"expires\":\"2014-11-11T01:26:51.965Z\",\"tenant\":{\"id\":\"930035\",\"name\":\"930035\"},\"RAX-AUTH:authenticatedBy\":[\"APIKEY\"]},\"serviceCatalog\":[{\"name\":\"cloudFilesCDN\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn5.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn4.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn1.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"HKG\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn6.clouddrive.com\\/v1\\/MossoCloudFS_930035\"}],\"type\":\"rax:object-cdn\"},{\"name\":\"cloudFiles\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.dfw1.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3b36e79523c4a2bad5e7ba7b9519547
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stack\": {\"parent\": null, \"disable_rollback\": true, \"description\":
        \"This is a Heat template to deploy a standalone redis server on\\nRackspace
        Cloud Servers\\n\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"self\"}], \"stack_status_reason\": \"Stack successfully updated\",
        \"stack_name\": \"def\", \"outputs\": [{\"output_value\": \"DIvKlLgu9KgxxKM5\",
        \"description\": \"Redis Password\", \"output_key\": \"redis_password\"},
        {\"output_value\": \"-----BEGIN RSA PRIVATE KEY-----\\nMIIEowIBAAKCAQEAsiUziCPUzJGdB1L5bIgkKICvV/k3wdGph8+5N0J67uqiNKbt\\n+627NPHK/1zVRzZNPjZHvqhaI2DzQiKLha7vQPTdeWgw4sMChnIGVBHNKU+ugMqr\\ns6wmj87HvxSjo/mXAAbJvv8wC2Sgn5KIJjq5Ofm72SpEOEgp6Pc4tHZBHpibfwaW\\n3AEYrgt81pF7l0/KO+V9JX7Aqb30sHNWfqIeImw4IzpuLITaaMe14ayfL5IfMKXw\\nVN9X3bSrZqwZdjJqshAQczcCnO0t93lw2aN8DWBAPMhE0jiVljMoNI2dveLHbHg+\\nj2D14yYqI+nirhLk8y7KnL6yV9dRJAd6dx44OwIDAQABAoIBAAjVk3Ki5ECoz/K3\\nCKt7LN/dUdS5B[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3b36e79523c4a2bad5e7ba7b9519547
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"resource\": {\"resource_name\": \"redis_server_config\", \"description\":
        \"\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server_config\", \"resource_status\":
        \"CREATE_COMPLETE\", \"updated_time\": \"2014-11-09T22:35:19Z\", \"required_by\":
        [], \"resource_status_reason\": \"state changed\", \"physical_resource_id\":
        \"a76dabd2-ef32-43a7-a755-39ff61955d52\", \"resource_type\": \"OS::Heat::ChefSolo\"}}"
  recorded_at: Mon, 10 Nov 2014 03:15:23 GMT
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config/events/19886c40-214b-41b7-8665-8a11de845850
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b3b36e79523c4a2bad5e7ba7b9519547
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"event\": {\"resource_name\": \"redis_server_config\", \"event_time\":
        \"2014-11-09T22:37:37Z\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config/events/19886c40-214b-41b7-8665-8a11de845850\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config\",
        \"rel\": \"resource\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server_config\", \"resource_status\":
        \"CREATE_COMPLETE\", \"resource_status_reason\": \"state changed\", \"physical_resource_id\":
        \"a76dabd2-ef32-43a7-a755-39ff61955d52\", \"resource_properties\": {\"username\":
        \"root\", \"node\": {\"run_list\": [\"recipe[apt]\", \"recipe[build-essential]\",
        \"recipe[redisio::default]\", \"recipe[redisio::enable]\"], \"redisio\": {\"default_settings\":
        {\"requirepass\": \"DIvKlLgu9KgxxKM5\"}, \"version\": \"2.8.14\", \"servers\":
        [{\"name\": \"redis\", \"port\": 6379}]}}, \"private_key\": \"-----BEGIN RSA
        PRIVATE KEY-----\\nMIIEowIBAAKCAQEAsiUziCPUzJGdB1L5bIgkKICvV/k3wdGph8+5N0J67uqiNKbt\\n+627NPHK/1zVRzZNPjZHvqhaI2DzQiKLha7vQPTdeWgw4sMChnIGVBHNKU+ugMqr\\ns6wmj87HvxSjo/mXAAbJvv8wC2Sgn5KIJjq5Ofm72SpEOEgp6Pc4tHZBHpibfwaW\\n3AEYrgt81pF7l0/KO+V9JX7Aqb30sHNWfqIeImw4IzpuLITaaMe14ayfL5IfMKXw\\nVN9X3bSrZqwZdjJqshAQczcCnO0t93lw2aN8DWBAPMhE0jiVljMoNI2dveLHbHg+\\nj2D14yYqI+nirhLk8y7KnL6yV9dRJAd6dx44OwIDAQABAoIBAAjVk3Ki5ECoz/K3\\nCKt7LN/dUdS5BSzVauTTRkoZP+NtO1IFHTQn72q2uuxi/Cil5rq5E[...]
