---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Nov 2014 03:46:15 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: "{\"auth\":{\"RAX-KSKEY:apiKeyCredentials\":{\"username\":\"test_account\",\"apiKey\":\"api_key\"}}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"access\":{\"token\":{\"id\":\"970603c1902047838aef2d3d46a6dfb5\",\"expires\":\"2014-11-12T01:35:40.768Z\",\"tenant\":{\"id\":\"930035\",\"name\":\"930035\"},\"RAX-AUTH:authenticatedBy\":[\"APIKEY\"]},\"serviceCatalog\":[{\"name\":\"cloudFilesCDN\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn5.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn4.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn1.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"HKG\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn6.clouddrive.com\\/v1\\/MossoCloudFS_930035\"}],\"type\":\"rax:object-cdn\"},{\"name\":\"cloudFiles\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.dfw1.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet[...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 970603c1902047838aef2d3d46a6dfb5
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"parameter_groups\": [{\"parameters\": [\"flavor\", \"image\"], \"label\":
        \"Server Settings\"}, {\"parameters\": [\"redis_port\"], \"label\": \"Redis
        Settings\"}, {\"parameters\": [\"redis_version\", \"redis_hostname\", \"kitchen\",
        \"chef_version\"], \"label\": \"rax-dev-params\"}], \"heat_template_version\":
        \"2013-05-23\", \"description\": \"This is a Heat template to deploy a standalone
        redis server on\\nRackspace Cloud Servers\\n\", \"parameters\": {\"redis_hostname\":
        {\"default\": \"redis\", \"type\": \"string\", \"description\": \"Hostname
        for Redis server\", \"label\": \"Server Hostname\"}, \"image\": {\"default\":
        \"Ubuntu 14.04 LTS (Trusty Tahr)\", \"constraints\": [{\"description\": \"Must
        be a supported operating system.\", \"allowed_values\": [\"Ubuntu 12.04 LTS
        (Precise Pangolin)\", \"Ubuntu 14.04 LTS (Trusty Tahr)\"]}], \"type\": \"string\",
        \"description\": \"Server image used for all servers that are created as a
        part of this\\ndeployment\\n\", \"label\": \"Operating System\"}, \"redis_version\":
        {\"default\": \"2.8.14\", \"type\": \"string\", \"description\": \"version
        of Redis to install\", \"label\": \"Redis Version\"}, \"redis_port\": {\"default\":
        6379, \"constraints\": [{\"range\": {\"max\": 65535, \"min\": 1024}, \"description\":
        \"Must be between 1024 and 65535.\"}], \"type\": \"number\", \"description\":
        \"Port for redis servers to listen on.\", \"label\": \"Port\"}, \"flavor\":
        {\"default\": \"1 GB General Purpose v1\", \"constraints\": [{\"description\":
        \"Must be a valid Rackspace Cloud Server flavor for the region you have\\nselected
        to deploy into.\\n\", \"allowed_values\": [\"1 GB General Purpose v1\", \"2
        GB General Purpose v1\", \"4 GB General Purpose v1\", \"8 GB General Purpose
        v1\", \"15 GB I/O v1\", \"30 GB I/O v1\", \"512MB Standard Instance\", \"1GB
        Standard Instance\", \"2GB Standard Instance\", \"4GB Standard Instance\",
        \"8GB Standard Instance\", \"15GB Standard Instance\", \"30GB Standard Instance\"]}],
        \"type\": \"string\", \"description\": \"Rackspace Cloud Server flavor to
        use. The size is based on the amount of\\nRAM for the provisioned server.\\n\",
        \"label\": \"Server Size\"}, \"chef_version\": {\"default\": \"11.12.8\",
        \"type\": \"string\", \"description\": \"Version of chef client to use\",
        \"label\": \"Chef Version\"}, \"kitchen\": {\"default\": \"https://github.com/rackspace-orchestration-templates/redis-single\",
        \"type\": \"string\", \"description\": \"URL for the kitchen to use\", \"label\":
        \"Kitchen\"}}, \"outputs\": {\"redis_password\": {\"description\": \"Redis
        Password\", \"value\": {\"get_attr\": [\"redis_password\", \"value\"]}}, \"private_key\":
        {\"description\": \"SSH Private Key\", \"value\": {\"get_attr\": [\"ssh_key\",
        \"private_key\"]}}, \"redis_server_ip\": {\"description\": \"Server IP\",
        \"value\": {\"get_attr\": [\"redis_server\", \"accessIPv4\"]}}, \"redis_port\":
        {\"description\": \"Redis Port\", \"value\": {\"get_param\": \"redis_port\"}}},
        \"resources\": {\"redis_server\": {\"depends_on\": \"ssh_key\", \"type\":
        \"Rackspace::Cloud::Server\", \"properties\": {\"key_name\": {\"get_resource\":
        \"ssh_key\"}, \"flavor\": {\"get_param\": \"flavor\"}, \"name\": {\"get_param\":
        \"redis_hostname\"}, \"image\": {\"get_param\": \"image\"}, \"metadata\":
        {\"rax-heat\": {\"get_param\": \"OS::stack_id\"}}}}, \"redis_server_config\":
        {\"depends_on\": \"redis_server\", \"type\": \"OS::Heat::ChefSolo\", \"properties\":
        {\"username\": \"root\", \"node\": {\"redisio\": {\"default_settings\": {\"requirepass\":
        {\"get_attr\": [\"redis_password\", \"value\"]}}, \"version\": {\"get_param\":
        \"redis_version\"}, \"servers\": [{\"name\": {\"get_param\": \"redis_hostname\"},
        \"port\": {\"get_param\": \"redis_port\"}}]}, \"run_list\": [\"recipe[apt]\",
        \"recipe[build-essential]\", \"recipe[redisio::default]\", \"recipe[redisio::enable]\"]},
        \"private_key\": {\"get_attr\": [\"ssh_key\", \"private_key\"]}, \"host\":
        {\"get_attr\": [\"redis_server\", \"accessIPv4\"]}, \"chef_version\": {\"get_param\":
        \"chef_version\"}, \"kitchen\": {\"get_param\": \"kitchen\"}}}, \"ssh_key\":
        {\"type\": \"OS::Nova::KeyPair\", \"properties\": {\"name\": {\"get_param\":
        \"OS::stack_id\"}, \"save_private_key\": true}}, \"redis_password\": {\"type\":
        \"OS::Heat::RandomString\", \"properties\": {\"length\": 16, \"sequence\":
        \"lettersdigits\"}}}}"
  recorded_at: Tue, 11 Nov 2014 03:46:17 GMT
recorded_with: VCR 2.9.3
