---
http_interactions:
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b569654894ed4762a9a337ee334c36f5
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jun 2015 19:01:08 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"mattdarbytest","apiKey":"c8b184b2c1e34662abfdb5d40a035aa0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"4e5313bcc93b44b7ada26b34ad870401","expires":"2015-06-17T17:55:02.058Z","tenant":{"id":"930035","name":"930035"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"HKG","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_930035"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_9[...]
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4e5313bcc93b44b7ada26b34ad870401
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"services": [{"name": "some-domain-name.com", "id": "60f4b3dc-1fae-4fc7-83f6-d5ae6a59bba7",
        "domains": [{"domain": "994191.com", "protocol": "http"}], "origins": [{"origin":
        "994211.com", "port": 80, "ssl": false, "rules": [{"name": "SomethingElse",
        "request_url": "hotmail.com"}]}], "restrictions": [], "caching": [], "status":
        "deployed", "flavor_id": "cdn", "log_delivery": {"enabled": false}, "errors":
        [], "links": [{"href": "https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/60f4b3dc-1fae-4fc7-83f6-d5ae6a59bba7",
        "rel": "self"}, {"href": "https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors/cdn",
        "rel": "flavor"}, {"href": "994191.com.cdn338.raxcdn.com", "rel": "access_url"}]},
        {"name": "skrelnick.com", "id": "628bdc85-6737-42a0-a6b4-8570795efee4", "domains":
        [{"domain": "630685.com", "protocol": "http"}], "origins": [{"origin": "630698.com",
        "port": 80, "ssl": false, "rules": [{"name": "SomethingElse", "request_url":
        "hotmail.com"}]}], "restrictions": [], "cach[...]
