---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/resource_types/redis_password/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"explanation\": \"The resource could not be found.\", \"code\": 404,
        \"error\": {\"message\": \"The Resource Type (redis_password) could not be
        found.\", \"traceback\": null, \"type\": \"ResourceTypeNotFound\"}, \"title\":
        \"Not Found\"}"
  recorded_at: Sun, 09 Nov 2014 22:40:44 GMT
recorded_with: VCR 2.9.3
