---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources?nested_depth=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"resources\": [{\"resource_name\": \"redis_server\", \"links\": [{\"href\":
        \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server\", \"resource_status\":
        \"CREATE_COMPLETE\", \"updated_time\": \"2014-11-09T22:34:35Z\", \"required_by\":
        [\"redis_server_config\"], \"resource_status_reason\": \"state changed\",
        \"physical_resource_id\": \"2f54767f-62f7-402a-9461-adbb5cb2e9cf\", \"resource_type\":
        \"Rackspace::Cloud::Server\"}, {\"resource_name\": \"redis_server_config\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server_config\", \"resource_[...]
