---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"stack\":{\"parent\":null,\"disable_rollback\":true,\"description\":\"This
        is a Heat template to deploy a standalone redis server on\\nRackspace Cloud
        Servers\\n\",\"links\":[{\"href\":\"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",\"rel\":\"self\"}],\"stack_status_reason\":\"Stack
        CREATE completed successfully\",\"stack_name\":\"def\",\"outputs\":[{\"output_value\":\"*****\",\"description\":\"Redis
        Password\",\"output_key\":\"redis_password\"},{\"output_value\":\"*****\",\"description\":\"SSH
        Private Key\",\"output_key\":\"private_key\"},{\"output_value\":\"104.130.12.131\",\"description\":\"Server
        IP\",\"output_key\":\"redis_server_ip\"},{\"output_value\":6379,\"description\":\"Redis
        Port\",\"output_key\":\"redis_port\"}],\"timeout_mins\":null,\"creation_time\":\"2014-11-09T22:34:33Z\",\"capabilities\":[],\"notification_topics\":[],\"parameters\":{\"redis_hostname\":\"redis\",\"OS::stack_id\":\"5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",\"OS::stack_name\":\"def\",\"image\":\"Ubuntu
        14.04 LTS (Trusty Tahr)\",\"chef_version\":\"11.12.8\",\"redis_port\":\"6379\",\"flavor\":\"1
        GB General Purpose v1\",\"redis_version\":\"2.8.14\",\"kitchen\":\"https://github.com/rackspace-orchestration-templates/redis-single\"},\"stack_owner\":null,\"stack_status\":\"CREATE_COMPLETE\",\"updated_time\":null,\"id\":\"5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",\"template_description\":\"This
        is a Heat template to deploy a standalone redis server on\\nRackspace Cloud
        Servers\\n\"}}"
  recorded_at: Sun, 09 Nov 2014 22:40:21 GMT
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_password/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"events\": [{\"resource_name\": \"redis_password\", \"event_time\":
        \"2014-11-09T22:34:35Z\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_password/events/0beb0a45-989f-4917-bcb5-ce6495a13a3e\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_password\",
        \"rel\": \"resource\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_password\", \"resource_status\":
        \"CREATE_COMPLETE\", \"resource_status_reason\": \"state changed\", \"physical_resource_id\":
        \"DIvKlLgu9KgxxKM5\", \"id\": \"0beb0a45-989f-4917-bcb5-ce6495a13a3e\"}, {\"resource_name\":
        \"redis_password\", \"event_time\": \"2014-11-09T22:34:34Z\", \"links\": [{\"href\":
        \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_password/events/f5ad8a4c-96ee-4fa8-8c4a-e7d576c993ac\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_password\",
        \"rel\": \"resource\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_password\", \"resource_status\":
        \"CREATE_IN_PROGRESS\", \"resource_status_reason\": \"state changed\", \"physical_resource_id\":
        null, \"id\": \"f5ad8a4c-96ee-4fa8-8c4a-e7d576c993ac\"}]}"
  recorded_at: Sun, 09 Nov 2014 22:40:21 GMT
recorded_with: VCR 2.9.3
