---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: "{\"auth\":{\"RAX-KSKEY:apiKeyCredentials\":{\"username\":\"test_account\",\"apiKey\":\"api_key\"}}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"access\":{\"token\":{\"id\":\"bbadd17bde994374a84eb2d9a6d1b593\",\"expires\":\"2014-11-10T00:07:12.906Z\",\"tenant\":{\"id\":\"930035\",\"name\":\"930035\"},\"RAX-AUTH:authenticatedBy\":[\"APIKEY\"]},\"serviceCatalog\":[{\"name\":\"cloudFilesCDN\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn5.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn4.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn1.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"HKG\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn6.clouddrive.com\\/v1\\/MossoCloudFS_930035\"}],\"type\":\"rax:object-cdn\"},{\"name\":\"cloudFiles\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.dfw1.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet[...]
