---
http_interactions:
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - bbadd17bde994374a84eb2d9a6d1b593
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"events\": [{\"resource_name\": \"redis_server_config\", \"event_time\":
        \"2014-11-09T22:37:37Z\", \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config/events/19886c40-214b-41b7-8665-8a11de845850\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config\",
        \"rel\": \"resource\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e\",
        \"rel\": \"stack\"}], \"logical_resource_id\": \"redis_server_config\", \"resource_status\":
        \"CREATE_COMPLETE\", \"resource_status_reason\": \"state changed\", \"physical_resource_id\":
        \"a76dabd2-ef32-43a7-a755-39ff61955d52\", \"id\": \"19886c40-214b-41b7-8665-8a11de845850\"},
        {\"resource_name\": \"redis_server_config\", \"event_time\": \"2014-11-09T22:35:19Z\",
        \"links\": [{\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5ed4e/resources/redis_server_config/events/048715ad-94ee-4273-aad0-55b9fb06d745\",
        \"rel\": \"self\"}, {\"href\": \"https://iad.orchestration.api.rackspacecloud.com/v1/930035/stacks/def/5487e245-8dd5-4077-ad9c-f08d79f5e[...]
