---
http_interactions:
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/security-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Jun 2015 19:01:33 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"mattdarbytest","apiKey":"c8b184b2c1e34662abfdb5d40a035aa0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"4e5313bcc93b44b7ada26b34ad870401","expires":"2015-06-17T17:55:02.058Z","tenant":{"id":"930035","name":"930035"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"HKG","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_930035"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_9[...]
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/security-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4e5313bcc93b44b7ada26b34ad870401
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"security_groups_links": [{"href": "http://localhost:9696/v2.0/security-groups?marker=2edbab20-9cc1-445c-9d8c-294da2dd0fc0&page_reverse=True",
        "rel": "previous"}], "security_groups": [{"tenant_id": "930035", "security_group_rules":
        [{"remote_group_id": null, "direction": "ingress", "remote_ip_prefix": null,
        "port_range_min": null, "tenant_id": "930035", "ethertype": "IPv4", "port_range_max":
        null, "id": "fef55596-086e-4cc9-a63d-14bb5392a43f", "protocol": null, "security_group_id":
        "2edbab20-9cc1-445c-9d8c-294da2dd0fc0"}], "id": "2edbab20-9cc1-445c-9d8c-294da2dd0fc0",
        "name": "something", "description": "something else"}, {"tenant_id": "930035",
        "security_group_rules": [], "id": "e4de95f1-c9aa-4017-a4ad-89818beab418",
        "name": "something", "description": "something else"}, {"tenant_id": "930035",
        "security_group_rules": [], "id": "ece536d2-d563-4858-b8db-d41fd4046513",
        "name": "ASecurityGroup", "description": "Something"}]}'
  recorded_at: Tue, 16 Jun 2015 19:01:34 GMT
- request:
    method: put
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/security-groups/2edbab20-9cc1-445c-9d8c-294da2dd0fc0
    body:
      encoding: UTF-8
      string: '{"security_group":{"name":"SomethingDifferent"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 4e5313bcc93b44b7ada26b34ad870401
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"security_group": {"tenant_id": "930035", "security_group_rules":
        [{"remote_group_id": null, "direction": "ingress", "remote_ip_prefix": null,
        "port_range_min": null, "tenant_id": "930035", "ethertype": "IPv4", "port_range_max":
        null, "id": "fef55596-086e-4cc9-a63d-14bb5392a43f", "protocol": null, "security_group_id":
        "2edbab20-9cc1-445c-9d8c-294da2dd0fc0"}], "id": "2edbab20-9cc1-445c-9d8c-294da2dd0fc0",
        "name": "SomethingDifferent", "description": "something else"}}'
  recorded_at: Tue, 16 Jun 2015 19:01:35 GMT
recorded_with: VCR 2.9.3
