---
http_interactions:
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/subnets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"subnets\": [{\"name\": \"ANewsubnet\", \"enable_dhcp\": null, \"network_id\":
        \"6bb34c4d-8c97-4830-8417-e5db6bed085a\", \"tenant_id\": \"930035\", \"dns_nameservers\":
        [], \"allocation_pools\": [{\"start\": \"192.168.101.1\", \"end\": \"192.168.101.254\"}],
        \"host_routes\": [], \"ip_version\": 4, \"gateway_ip\": null, \"cidr\": \"192.168.101.1/24\",
        \"id\": \"edf71f05-e8ba-4dc2-911f-326216b5c2ca\"}]}"
  recorded_at: Sat, 13 Dec 2014 00:15:24 GMT
- request:
    method: put
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/subnets/edf71f05-e8ba-4dc2-911f-326216b5c2ca
    body:
      encoding: UTF-8
      string: "{\"subnet\":{\"name\":\"SomethingDifferent\",\"gateway_ip\":null}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - e874be5056284f4fb1326ec5d50102db
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"subnet\": {\"name\": \"SomethingDifferent\", \"enable_dhcp\": null,
        \"network_id\": \"6bb34c4d-8c97-4830-8417-e5db6bed085a\", \"tenant_id\": \"930035\",
        \"dns_nameservers\": [], \"allocation_pools\": [{\"start\": \"192.168.101.1\",
        \"end\": \"192.168.101.254\"}], \"host_routes\": [], \"ip_version\": 4, \"gateway_ip\":
        null, \"cidr\": \"192.168.101.1/24\", \"id\": \"edf71f05-e8ba-4dc2-911f-326216b5c2ca\"}}"
  recorded_at: Sat, 13 Dec 2014 00:15:25 GMT
recorded_with: VCR 2.9.3
