---
http_interactions:
- request:
    method: post
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: UTF-8
      string: "{\"name\":\"some-domain-name.com\",\"flavor_id\":\"cdn\",\"domains\":[{\"domain\":\"705207.com\"}],\"origins\":[{\"origin\":\"705221.com\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/7338dbf2-3fe9-44b6-bc25-7d03c9c35448
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Apr 2015 22:06:11 GMT
recorded_with: VCR 2.9.3
