---
http_interactions:
- request:
    method: post
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: UTF-8
      string: "{\"name\":\"some-domain-name.com\",\"flavor_id\":\"cdn\",\"domains\":[{\"domain\":\"40874.com\"}],\"origins\":[{\"origin\":\"40890.com\",\"rules\":[{\"name\":\"SomethingElse\",\"request_url\":\"hotmail.com\"}]}]}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/5c211c39-268b-4d26-9c9d-ad37225b0797
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Apr 2015 22:06:39 GMT
- request:
    method: delete
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/5c211c39-268b-4d26-9c9d-ad37225b0797/assets?url=/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 23 Apr 2015 22:06:39 GMT
recorded_with: VCR 2.9.3
