---
http_interactions:
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"services\": [{\"name\": \"some-domain-name.com\", \"id\": \"5c211c39-268b-4d26-9c9d-ad37225b0797\",
        \"domains\": [{\"domain\": \"40874.com\", \"protocol\": \"http\"}], \"origins\":
        [{\"origin\": \"40890.com\", \"port\": 80, \"ssl\": false, \"rules\": [{\"name\":
        \"SomethingElse\", \"request_url\": \"hotmail.com\"}]}], \"restrictions\":
        [], \"caching\": [], \"status\": \"deployed\", \"flavor_id\": \"cdn\", \"log_delivery\":
        {\"enabled\": false}, \"errors\": [], \"links\": [{\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/5c211c39-268b-4d26-9c9d-ad37225b0797\",
        \"rel\": \"self\"}, {\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors/cdn\",
        \"rel\": \"flavor\"}, {\"href\": \"40874.com.cdn247.raxcdn.com\", \"rel\":
        \"access_url\"}]}, {\"name\": \"some-domain-name.com\", \"id\": \"60f4b3dc-1fae-4fc7-83f6-d5ae6a59bba7\",
        \"domains\": [{\"domain\": \"994191.com\", \"protocol\": \"http\"}], \"origins\":
        [{\"origin\": \"994211.com\", \"port\": 80, \"ssl\": false, \"rules\": [{\"name\":
        \"SomethingElse\", \[...]
[...]
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/5c211c39-268b-4d26-9c9d-ad37225b0797
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"name\": \"some-domain-name.com\", \"id\": \"5c211c39-268b-4d26-9c9d-ad37225b0797\",
        \"domains\": [{\"domain\": \"40874.com\", \"protocol\": \"http\"}], \"origins\":
        [{\"origin\": \"40890.com\", \"port\": 80, \"ssl\": false, \"rules\": [{\"name\":
        \"SomethingElse\", \"request_url\": \"hotmail.com\"}]}], \"restrictions\":
        [], \"caching\": [], \"status\": \"deployed\", \"flavor_id\": \"cdn\", \"log_delivery\":
        {\"enabled\": false}, \"errors\": [], \"links\": [{\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/5c211c39-268b-4d26-9c9d-ad37225b0797\",
        \"rel\": \"self\"}, {\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors/cdn\",
        \"rel\": \"flavor\"}, {\"href\": \"40874.com.cdn247.raxcdn.com\", \"rel\":
        \"access_url\"}]}"
  recorded_at: Fri, 24 Apr 2015 02:22:56 GMT
[...]
