---
http_interactions:
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"resources\": {\"rel/health\": {\"href-template\": \"/health\", \"href-vars\":
        {\"subsystem\": \"param/subsystem\"}, \"hints\": {\"allow\": [\"GET\"], \"formats\":
        {\"application/json\": {}}}}, \"rel/flavors\": {\"href-template\": \"/flavors/{flavor_id}\",
        \"href-vars\": {\"marker\": \"param/flavor_id\"}, \"hints\": {\"allow\": [\"GET\",
        \"POST\", \"DELETE\"], \"formats\": {\"application/json\": {}}}}, \"rel/ping\":
        {\"href-template\": \"/ping\", \"hints\": {\"allow\": [\"GET\"], \"formats\":
        {\"application/json\": {}}}}, \"rel/services\": {\"href-template\": \"/services{?marker,limit}\",
        \"href-vars\": {\"marker\": \"param/marker\", \"limit\": \"param/limit\"},
        \"hints\": {\"allow\": [\"GET\", \"POST\"], \"formats\": {\"application/json\":
        {}}}}}}"
  recorded_at: Thu, 23 Apr 2015 22:06:09 GMT
recorded_with: VCR 2.9.3
