---
http_interactions:
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"services\": [{\"name\": \"whatev\", \"id\": \"14444eb6-0092-4bc9-86b7-d9741e8d23a9\",
        \"domains\": [{\"domain\": \"skrelnick.com\", \"protocol\": \"http\"}], \"origins\":
        [{\"origin\": \"104.130.20.210\", \"port\": 80, \"ssl\": false, \"rules\":
        [{\"name\": \"Default Origin\", \"request_url\": \"/*\"}]}], \"restrictions\":
        [], \"caching\": [], \"status\": \"deployed\", \"flavor_id\": \"cdn\", \"log_delivery\":
        {\"enabled\": false}, \"errors\": [], \"links\": [{\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/14444eb6-0092-4bc9-86b7-d9741e8d23a9\",
        \"rel\": \"self\"}, {\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors/cdn\",
        \"rel\": \"flavor\"}, {\"href\": \"skrelnick.com.cdn199.raxcdn.com\", \"rel\":
        \"access_url\"}]}, {\"name\": \"some-domain-name.com\", \"id\": \"7338dbf2-3fe9-44b6-bc25-7d03c9c35448\",
        \"domains\": [{\"domain\": \"705207.com\", \"protocol\": \"http\"}], \"origins\":
        [{\"origin\": \"705221.com\", \"port\": 80, \"ssl\": false, \"rules\": [{\"name\":
        \"default\", \"r[...]
