---
http_interactions:
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"flavors\": [{\"id\": \"cdn\", \"providers\": [{\"provider\": \"akamai\",
        \"links\": [{\"href\": \"http://www.akamai.com\", \"rel\": \"provider_url\"}]}],
        \"links\": [{\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors/cdn\",
        \"rel\": \"self\"}]}]}"
  recorded_at: Thu, 23 Apr 2015 22:06:39 GMT
recorded_with: VCR 2.9.3
