---
http_interactions:
- request:
    method: post
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services
    body:
      encoding: UTF-8
      string: "{\"name\":\"some-domain-name.com\",\"flavor_id\":\"cdn\",\"domains\":[{\"domain\":\"630685.com\"}],\"origins\":[{\"origin\":\"630698.com\",\"rules\":[{\"name\":\"SomethingElse\",\"request_url\":\"hotmail.com\"}]}]}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/628bdc85-6737-42a0-a6b4-8570795efee4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Apr 2015 02:19:29 GMT
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/628bdc85-6737-42a0-a6b4-8570795efee4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"name\": \"some-domain-name.com\", \"id\": \"628bdc85-6737-42a0-a6b4-8570795efee4\",
        \"domains\": [{\"domain\": \"630685.com\", \"protocol\": \"http\"}], \"origins\":
        [{\"origin\": \"630698.com\", \"port\": 80, \"ssl\": false, \"rules\": [{\"name\":
        \"SomethingElse\", \"request_url\": \"hotmail.com\"}]}], \"restrictions\":
        [], \"caching\": [], \"status\": \"deployed\", \"flavor_id\": \"cdn\", \"log_delivery\":
        {\"enabled\": false}, \"errors\": [], \"links\": [{\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/628bdc85-6737-42a0-a6b4-8570795efee4\",
        \"rel\": \"self\"}, {\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors/cdn\",
        \"rel\": \"flavor\"}, {\"href\": \"630685.com.cdn273.raxcdn.com\", \"rel\":
        \"access_url\"}]}"
  recorded_at: Fri, 24 Apr 2015 02:19:39 GMT
- request:
    method: patch
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/628bdc85-6737-42a0-a6b4-8570795efee4
    body:
      encoding: UTF-8
      string: "[{\"op\":\"replace\",\"path\":\"/name\",\"value\":\"skrelnick.com\"}]"
    headers:
      Content-Type:
      - application/json-patch+json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 202
      message: ''
    headers:
      Location:
      - https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/628bdc85-6737-42a0-a6b4-8570795efee4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Apr 2015 02:19:40 GMT
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/628bdc85-6737-42a0-a6b4-8570795efee4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 01f29252431e454c8e2d8e90d4f08653
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"name\": \"skrelnick.com\", \"id\": \"628bdc85-6737-42a0-a6b4-8570795efee4\",
        \"domains\": [{\"domain\": \"630685.com\", \"protocol\": \"http\"}], \"origins\":
        [{\"origin\": \"630698.com\", \"port\": 80, \"ssl\": false, \"rules\": [{\"name\":
        \"SomethingElse\", \"request_url\": \"hotmail.com\"}]}], \"restrictions\":
        [], \"caching\": [], \"status\": \"deployed\", \"flavor_id\": \"cdn\", \"log_delivery\":
        {\"enabled\": false}, \"errors\": [], \"links\": [{\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/services/628bdc85-6737-42a0-a6b4-8570795efee4\",
        \"rel\": \"self\"}, {\"href\": \"https://global.cdn.api.rackspacecloud.com/v1.0/930035/flavors/cdn\",
        \"rel\": \"flavor\"}, {\"href\": \"630685.com.cdn273.raxcdn.com\", \"rel\":
        \"access_url\"}]}"
  recorded_at: Fri, 24 Apr 2015 02:19:50 GMT
recorded_with: VCR 2.9.3
