---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AAB9stWuFZ2GnO0CtkxvFdE3LpYqHczOhmiffiWZb8ogcIXp7OVNn4-hQiYHLWk711_3sAY8GvZcquKWELcdFbAbnYb5ovK-1SdLBWyJUAYjUIyvAU9fvagF6fqeh1pnAAA7MGxiF4xW9g","expires":"2016-03-15T15:30:44.612Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AAB9stWuFZ2GnO0CtkxvFdE3LpYqHczOhmiffiWZb8ogcIXp7OVNn4-hQiYHLWk711_3sAY8GvZcquKWELcdFbAbnYb5ovK-1SdLBWyJUAYjUIyvAU9fvagF6fqeh1pnAAA7MGxiF4xW9g
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "PortTest",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "36ad233b-19c7-4327-988a-c085c55623a7"}, {"status": "ACTIVE", "subnets": ["b3070612-b3a7-49c7-b85f-4d9010a053b7"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "7d809f68-8408-4836-a349-e6f023edd313"}, {"status":
        "ACTIVE", "subnets": ["9eec9c4f-c920-4c8b-91be-221921a7e079"], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "855dc19f-66c6-4602-8868-b78b70e888fe"}, {"status": "ACTIVE", "subnets": ["bfcf2f21-61e8-4de9-bd0f-a6416617e017"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "c45ddfcd-a8bb-4d93-aff8-a40a083ac44a"}], "networks_links":
        [{"href": "http://localhost:9696/v2.0/networks?marker=36ad233b-19c7-4327-988a-c085c55623a7&page_reverse=True",
        "rel": "previous"}]}'
  recorded_at: Mon, 14 Mar 2016 16:16:15 GMT
recorded_with: VCR 3.0.1
