---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAitNxr-pByi5y4TPstxyuNCEMG_j4nMp1jFvg0AFWL-ZS8r5O4qI20SheG4qSuhMBj4yQIeyNpPvuES6T-_QB_okDBszeTQUnV6h9F_x5uXliCQixWr5GoWkeV6RMt2gzD4GMLQ","expires":"2016-03-18T14:46:17.921Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://global.cdn.api.rackspacecloud.com/v1.0/<RS_TENANT_ID>/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAitNxr-pByi5y4TPstxyuNCEMG_j4nMp1jFvg0AFWL-ZS8r5O4qI20SheG4qSuhMBj4yQIeyNpPvuES6T-_QB_okDBszeTQUnV6h9F_x5uXliCQixWr5GoWkeV6RMt2gzD4GMLQ
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 14:53:20 GMT
recorded_with: VCR 3.0.1
