---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAWqeYth01lSjhlzOtbiyXyEe6TwxlLRgzfEvUL_uQDPaSpbZrA9isKEeAseTWCxzb0ioElJWDFvoUoPgGqBVnOEh11nyX5tC5zZdEZqM_2ba303-w2Wkpebl9AMk9oMyPogxXFQ","expires":"2016-03-17T18:04:59.113Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAWqeYth01lSjhlzOtbiyXyEe6TwxlLRgzfEvUL_uQDPaSpbZrA9isKEeAseTWCxzb0ioElJWDFvoUoPgGqBVnOEh11nyX5tC5zZdEZqM_2ba303-w2Wkpebl9AMk9oMyPogxXFQ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIzMmM4MTE2Mi0wZTFmLTRiODgtOGVjOC0yMzM2N2EwMDBmYWQiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stacks": [{"description": "This is a Heat template to deploy a standalone
        redis server on\nRackspace Cloud Servers\n", "parent": null, "stack_status_reason":
        "Stack CREATE completed successfully", "stack_name": "a_redis_stack", "stack_user_project_id":
        "<RS_TENANT_ID>", "tags": null, "creation_time": "2016-03-16T18:03:37", "links":
        [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "e9caf8cd-0e4c-433d-ad11-b47479f2ab8f"}]}'
  recorded_at: Wed, 16 Mar 2016 18:09:26 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAWqeYth01lSjhlzOtbiyXyEe6TwxlLRgzfEvUL_uQDPaSpbZrA9isKEeAseTWCxzb0ioElJWDFvoUoPgGqBVnOEh11nyX5tC5zZdEZqM_2ba303-w2Wkpebl9AMk9oMyPogxXFQ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJhYTFlYjE3ZS1mN2U4LTQyNmUtOTRkMi01NzMxNGEwMTg5YTMiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"resources": [{"resource_name": "redis_password", "links": [{"href":
        "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/redis_password",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "stack"}], "logical_resource_id": "redis_password", "creation_time":
        "2016-03-16T18:03:37", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-03-16T18:03:37", "required_by": ["redis_server_config"], "resource_status_reason":
        "state changed", "physical_resource_id": "a_redis_stack-redis_password-ftazjp6fqkhh",
        "resource_type": "OS::Heat::RandomString"}, {"resource_name": "redis_server",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/redis_server",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "stack"}], "logical_resource_id": "redis_server", "creation_time":
        "2016-03-[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAWqeYth01lSjhlzOtbiyXyEe6TwxlLRgzfEvUL_uQDPaSpbZrA9isKEeAseTWCxzb0ioElJWDFvoUoPgGqBVnOEh11nyX5tC5zZdEZqM_2ba303-w2Wkpebl9AMk9oMyPogxXFQ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiI4ZDUxNTA0Yy1mYjFlLTQxNWMtYTA4NC1lMTE2ZjE2NGU2MTYiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"events": [{"resource_name": "a_redis_stack", "event_time": "2016-03-16T18:07:30",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/a_redis_stack/events/c25af384-0c60-45bd-b099-432e2db25de4",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/a_redis_stack",
        "rel": "resource"}, {"href": "https://dfw.orchestration.api.[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAWqeYth01lSjhlzOtbiyXyEe6TwxlLRgzfEvUL_uQDPaSpbZrA9isKEeAseTWCxzb0ioElJWDFvoUoPgGqBVnOEh11nyX5tC5zZdEZqM_2ba303-w2Wkpebl9AMk9oMyPogxXFQ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJlMThmOTVmNS1mYzQ5LTQxM2QtOGUzYy1iZGM0ZGZhNjlmOWMiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stack": {"disable_rollback": true, "description": "This is a Heat
        template to deploy a standalone redis server on\nRackspace Cloud Servers\n",
        "parent": null, "tags": null, "stack_name": "a_redis_stack", "stack_user_project_id":
        "<RS_TENANT_ID>", "stack_status_reason": "Stack CREATE completed successfully",
        "creation_time": "2016-03-16T18:03:37", "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "self"}], "capabilities": [], "notification_topics": [], "updated_time":
        null, "timeout_mins": null, "stack_status": "CREATE_COMPLETE", "stack_owner":
        null, "parameters": {"OS::project_id": "<RS_TENANT_ID>", "OS::stack_id": "e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "OS::stack_name": "a_redis_stack", "redis_hostname": "redis", "image": "Ubuntu
        14.04 LTS (Trusty Tahr) (PV)", "redis_version": "2.8.14", "redis_port": "6379",
        "flavor": "1 GB General Purpose v1", "chef_version": "11.12.8", "kitchen":
        "https://github.com/rackspace-orchestration-templates/redis-single"}, "id":
        "e9caf8cd-0e4c-433d-ad11-b47479f2ab8f", "outputs": [{"output_value": "aoGA8G6BlOE6mW64",
        "output_key": "redis_password", "description": "Redis Password"}, {"output_value":
        "-----BEGIN RSA PRIVATE KEY-----\nMIIEqAIBAAKCAQEAu+E+td+n99/wIJy/cFxbpVKr5wcUaJutiXSbK5FxKtGnL/BP\ne847cqziv2OJ6fyLF6+ZxzRQmxF2dCWInIH/NL5NdufxZNi1z/U4X/aYFIIGB3fr\nCirARPkkmc+Zs4Y/4a2v2r4oA8K0KVY9756RDW1MfhmbWyiadu78h00Wep/9wKFL\nd8Dhfg12voGW4vC0rx2th7TG5YE74zsPapjQaARcWOWJwYuKGPCX5JDKNf85Khu4\nef7RgmYKC9cDF/KlkQWrxGUuTq7RoB1wYmIa6WvzQdmuJDrCct5E8kCIvaJDeLG8\nOnL9abNkA4GVzvkrSLufOxdEFOr3H/1nkX/0iwIDAQABAoIBAEGnpvh7ng[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/redis_password/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAWqeYth01lSjhlzOtbiyXyEe6TwxlLRgzfEvUL_uQDPaSpbZrA9isKEeAseTWCxzb0ioElJWDFvoUoPgGqBVnOEh11nyX5tC5zZdEZqM_2ba303-w2Wkpebl9AMk9oMyPogxXFQ
  response:
    status:
  [...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/template
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAWqeYth01lSjhlzOtbiyXyEe6TwxlLRgzfEvUL_uQDPaSpbZrA9isKEeAseTWCxzb0ioElJWDFvoUoPgGqBVnOEh11nyX5tC5zZdEZqM_2ba303-w2Wkpebl9AMk9oMyPogxXFQ
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIwMDZiNmI0My04ZmZlLTQ5NGYtODVmNi0yMzA1ZGJiNjE0ZDIiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"parameter_groups": [{"parameters": ["flavor", "image"], "label":
        "Server Settings"}, {"parameters": ["redis_port"], "label": "Redis Settings"},
        {"parameters": ["redis_version", "redis_hostname", "kitchen", "chef_version"],
        "label": "rax-dev-params"}], "heat_template_version": "2013-05-23", "description":
        "This is a Heat template to deploy a standalone redis server on\nRackspace
        Cloud Servers\n", "parameters": {"redis_hostname": {"default": "redis", "type":
        "string", "description": "Hostname for Redis server", "label": "Server Hostname"},
        "image": {"default": "Ubuntu 14.04 LTS (Trusty Tahr) (PV)", "constraints":
        [{"description": "Must be a supported operating system.", "allowed_values":
        ["Ubuntu 12.04 LTS (Precise Pangolin) (PVHVM)", "Ubuntu 14.04 LTS (Trusty
        Tahr) (PV)"]}], "type": "string", "description": "Server image used for all
        servers that are created as a part of this\ndeployment\n", "label": "Operating
        System"}, "redis_version": {"default": "2.8.14", "type": "string", "description":
        "version of Redis to install", "label": "Redis Version"}, "redis_port": {"default":
        6379, "constraints": [{"range": {"max": 65535, "min": 1024}, "description":
        "Must be between 1024 and 65535."}], "type": "number", "description": "Port
        for redis servers to listen on.", "label": "Port"}, "flavor": {"default":
        "1 GB General Purpose v1", "constraints": [{"description": "Must be a valid
        Rackspace Cloud Server flavor for the region you have\nselected to deploy
        into.\n", "allowed_values": ["1 GB General Purpose v1", "2 GB General Purpose
        v1", "4 GB General Purpose v1", "8 GB General Purpose v1", "15 GB I/O v1",
        "30 GB I/O v1", "512MB Standard Instance", "1GB Standard Instance", "2GB Standard
        Instance", "4GB Standard Instance", "8GB Standard Instance", "15GB Standard
        Instance", "30GB Standard Instance"]}], "type": "string", "description": "Rackspace
        Cloud Server flavor to use. The size is based on the amount of\nRAM for the
        provisioned server.\n", "label": "Server Size"}, "chef_version": {"default":
        "11.12.8", "type": "string", "description": "Version of chef client to use",
        "label": "Chef Version"}, "kitchen": {"default": "https://github.com/rackspace-orchestration-templates/redis-single",
        "type": "string", "description": "URL for the kitchen to use", "label": "Kitchen"}},
        "outputs": {"redis_password": {"description": "Redis Password", "value": {"get_attr":
        ["redis_password", "value"]}}, "private_key": {"description": "SSH Private
        Key", "value": {"get_attr": ["ssh_key", "private_key"]}}, "redis_server_ip":
        {"description": "Server IP", "value": {"get_attr": ["redis_server", "accessIPv4"]}},
        "redis_port": {"description": "Redis Port", "value": {"get_param": "redis_port"}}},
        "resources": {"redis_server": {"depends_on": "ssh_key", "type": "Rackspace::Cloud::Server",
        "properties": {"key_name": {"get_resource": "ssh_key"}, "flavor": {"get_param":
        "flavor"}, "name": {"get_param": "redis_hostname"}, "image": {"get_param":
        "image"}, "metadata": {"rax-heat": {"get_param": "OS::stack_id"}}}}, "redis_server_config":
        {"depends_on": "redis_server", "type": "OS::Heat::ChefSolo", "properties":
        {"username": "root", "node": {"redisio": {"default_settings": {"requirepass":
        {"get_attr": ["redis_password", "value"]}}, "version": {"get_param": "redis_version"},
        "servers": [{"name": {"get_param": "redis_hostname"}, "port": {"get_param":
        "redis_port"}}]}, "run_list": ["recipe[apt]", "recipe[build-essential]", "recipe[redisio::default]",
        "recipe[redisio::enable]"]}, "private_key": {"get_attr": ["ssh_key", "private_key"]},
        "host": {"get_attr": ["redis_server", "accessIPv4"]}, "chef_version": {"get_param":
        "chef_version"}, "kitchen": {"get_param": "kitchen"}}}, "ssh_key": {"type":
        "OS::Nova::KeyPair", "properties": {"name": {"get_param": "OS::stack_id"},
        "save_private_key": true}}, "redis_password": {"type": "OS::Heat::RandomString",
        "properties": {"length": 16, "sequence": "lettersdigits"}}}}'
  recorded_at: Wed, 16 Mar 2016 18:09:32 GMT
recorded_with: VCR 3.0.1
