---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg","expires":"2016-03-18T14:35:09.407Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJhZDc4NDNjNC02ZmNiLTQ3Y2EtYThmMC03YjQ0OGFiM2RmZDgiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stacks": [{"description": "#### Single Server\n\nA single Linux server
        running a standalone instance of\n[redis 2.8.13](http://redis.io/).\n", "parent":
        null, "stack_status_reason": "Stack CREATE completed successfully", "stack_name":
        "def", "stack_user_project_id": "<RS_TENANT_ID>", "tags": null, "creation_time":
        "2016-03-17T14:17:06", "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "204c0f03-4070-40ff-82aa-ed72797261a1"}, {"description":
        "#### Single Server\n\nA single Linux server running a standalone instance
        of\n[redis 2.8.13](http://redis.io/).\n", "parent": null, "stack_status_reason":
        "Stack CREATE completed successfully", "stack_name": "abc", "stack_user_project_id":
        "<RS_TENANT_ID>", "tags": null, "creation_time": "2016-03-17T14:16:44", "links":
        [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/abc/6451682a-29cc-4c32-a847-b6feb98c81ff",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "6451682a-29cc-4c32-a847-b6feb98c81ff"}]}'
  recorded_at: Thu, 17 Mar 2016 14:25:30 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiI4ZTgzN2FjZS1kYmY2LTQwMzctYWU1OS03N2M5YzI5YzNjNmQiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"resources": [{"resource_name": "redis_password", "links": [{"href":
        "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_password",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "stack"}], "logical_resource_id": "redis_password", "creation_time":
        "2016-03-17T14:17:06", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-03-17T14:17:06", "required_by": ["redis_server_config"], "resource_status_reason":
        "state changed", "physical_resource_id": "def-redis_password-wflqay2ejepb",
        "resource_type": "OS::Heat::RandomString"}, {"resource_name": "redis_server",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_server",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "stack"}], "logical_resource_id": "redis_server", "creation_time":
        "2016-03-17T14:17:06", "resou[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiI4ZjIyNDliMC1kMzM4LTRkZTQtODk1NS1lZjZhNTVhZmQ4MDUiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"events": [{"resource_name": "def", "event_time": "2016-03-17T14:20:40",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/def/events/a306b048-98cf-4457-b46e-82efa3430b5b",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/def",
        "rel": "resource"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/sta[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIyOWUwYWRkNy1jN2I1LTQ0MzMtOTMwYS01MjEzODIxMDFiZTkiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stack":{"disable_rollback":true,"description":"#### Single Server\n\nA
        single Linux server running a standalone instance of\n[redis 2.8.13](http://redis.io/).\n","parent":null,"tags":null,"stack_name":"def","stack_user_project_id":"<RS_TENANT_ID>","stack_status_reason":"Stack
        CREATE completed successfully","creation_time":"2016-03-17T14:17:06","links":[{"href":"https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1","rel":"self"}],"capabilities":[],"notification_topics":[],"parameters":{"OS::project_id":"<RS_TENANT_ID>","OS::stack_id":"204c0f03-4070-40ff-82aa-ed72797261a1","OS::stack_name":"def","redis_hostname":"redis","image":"Ubuntu
        14.04 LTS (Trusty Tahr) (PV)","chef_version":"11.12.8","redis_port":"6379","flavor":"1
        GB General Purpose v1","redis_version":"2.8.14","kitchen":"https://github.com/rackspace-orchestration-templates/redis-single"},"timeout_mins":null,"stack_status":"CREATE_COMPLETE","stack_owner":null,"updated_time":null,"id":"204c0f03-4070-40ff-82aa-ed72797261a1","outputs":[{"output_value":"*****","output_key":"redis_password","description":"Redis
        Password"},{"output_value":"*****","output_key":"private_key","description":"SSH
        Private Key"},{"output_value":"104.130.142.142","output_key":"redis_server_ip","description":"Server
        IP"},{"output_value":6379,"output_key":"redis_port","description":"Redis Port"}],"template_description":"####
        Single Server\n\nA single Linux server running a standalone instance of\n[redis
        2.8.13](http://redis.io/).\n"}}'
  recorded_at: Thu, 17 Mar 2016 14:25:34 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_password/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: [...]
[...]
- request:
    method: post
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: UTF-8
      string: '{"stack_name":"a_redis_stack","template":"heat_template_version: 2013-05-23\n\ndescription:
        |\n  This is a Heat template to deploy a standalone redis server on\n  Rackspace
        Cloud Servers\n\nparameter_groups:\n\n- label: Server Settings\n  parameters:\n  -
        flavor\n  - image\n\n- label: Redis Settings\n  parameters:\n  - redis_port\n\n-
        label: rax-dev-params\n  parameters:\n  - redis_version\n  - redis_hostname\n  -
        kitchen\n  - chef_version\n\nparameters:\n\n  flavor:\n    label: Server Size\n    description:
        |\n      Rackspace Cloud Server flavor to use. The size is based on the amount
        of\n      RAM for the provisioned server.\n    type: string\n    default:
        1 GB General Purpose v1\n    constraints:\n    - allowed_values:\n      -
        1 GB General Purpose v1\n      - 2 GB General Purpose v1\n      - 4 GB General
        Purpose v1\n      - 8 GB General Purpose v1\n      - 15 GB I/O v1\n      -
        30 GB I/O v1\n      - 512MB Standard Instance\n      - 1GB Standard Instance\n      -
        2GB Standard Instance\n      - 4GB Standard Instance\n      - 8GB Standard
        Instance\n      - 15GB Standard Instance\n      - 30GB Standard Instance\n      description:
        |\n        Must be a valid Rackspace Cloud Server flavor for the region you
        have\n        selected to deploy into.\n\n  image:\n    label: Operating System\n    description:
        |\n      Server image used for all servers that are created as a part of this\n      deployment\n    type:
        string\n    default: Ubuntu 14.04 LTS (Trusty Tahr) (PV)\n    constraints:\n    -
        allowed_values:\n      - Ubuntu 12.04 LTS (Precise Pangolin) (PVHVM)\n      -
        Ubuntu 14.04 LTS (Trusty Tahr) (PV)\n      description: Must be a supported
        operating system.\n\n  redis_version:\n    label: Redis Version\n    description:
        version of Redis to install\n    type: string\n    default: 2.8.14\n\n  redis_hostname:\n    label:
        Server Hostname\n    description: Hostname for Redis server\n    type: string\n    default:
        redis\n\n  redis_port:\n    label: Port\n    description: Port for redis servers
        to listen on.\n    type: number\n    default: 6379\n    constraints:\n    -
        range:\n        min: 1024\n        max: 65535\n      description: Must be
        between 1024 and 65535.\n\n\n  kitchen:\n    label: Kitchen\n    description:
        URL for the kitchen to use\n    type: string\n    default: https://github.com/rackspace-orchestration-templates/redis-single\n\n  chef_version:\n    label:
        Chef Version\n    description: Version of chef client to use\n    type: string\n    default:
        11.12.8\n\nresources:\n\n  ssh_key:\n    type: OS::Nova::KeyPair\n    properties:\n      name:
        { get_param: \"OS::stack_id\" }\n      save_private_key: true\n\n  redis_password:\n    type:
        OS::Heat::RandomString\n    properties:\n      length: 16\n      sequence:
        lettersdigits\n\n  redis_server:\n    type: Rackspace::Cloud::Server\n    depends_on:
        ssh_key\n    properties:\n      name: { get_param: redis_hostname }\n      flavor:
        { get_param: flavor }\n      image: { get_param: image }\n      key_name:
        { get_resource: ssh_key }\n      metadata:\n        rax-heat: { get_param:
        \"OS::stack_id\" }\n\n  redis_server_config:\n    type: OS::Heat::ChefSolo\n    depends_on:
        redis_server\n    properties:\n      username: root\n      private_key: {
        get_attr: [ssh_key, private_key] }\n      host: { get_attr: [redis_server,
        accessIPv4] }\n      kitchen: { get_param: kitchen }\n      chef_version:
        { get_param: chef_version }\n      node:\n        run_list: [ \"recipe[apt]\",\n                    \"recipe[build-essential]\",\n                    \"recipe[redisio::default]\",\n                    \"recipe[redisio::enable]\"
        ]\n        redisio:\n          default_settings:\n            requirepass:
        { get_attr: [redis_password, value] }\n          servers:\n            - name:
        { get_param: redis_hostname }\n              port: { get_param: redis_port
        }\n          version: { get_param: redis_version }\n\noutputs:\n  private_key:\n    description:
        SSH Private Key\n    value: { get_attr: [ssh_key, private_key] }\n\n  redis_password:\n    description:
        Redis Password\n    value: { get_attr: [redis_password, value] }\n\n  redis_server_ip:\n    description:
        Server IP\n    value: { get_attr: [redis_server, accessIPv4]}\n\n  redis_port:\n    description:
        Redis Port\n    value: { get_param: redis_port }\n"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/f6231460-c796-4d14-83e7-1b39d292e7eb
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiI3YzdhNDg4My1hOTA2LTRhMjgtOGZhOS1hZGMzNDM1ZjhiNWEiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stack": {"id": "f6231460-c796-4d14-83e7-1b39d292e7eb", "links": [{"href":
        "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/f6231460-c796-4d14-83e7-1b39d292e7eb",
        "rel": "self"}]}}'
  recorded_at: Thu, 17 Mar 2016 14:25:38 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/f6231460-c796-4d14-83e7-1b39d292e7eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: 200
      message: ''
[...]
[...]
- request:
    method: delete
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/f6231460-c796-4d14-83e7-1b39d292e7eb/abandon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vA-mNuME_L9xdnoHpO4Ndo516wNUfWjm0XuBehm2HoTiRXDW0g2rpr8Lr3M9ydVIrLi0O0dQXV7ccb5T9h36XgxMWERKimGPlU-PcniY7s0Yckw0EXviglQniGaDRI2C9ZqK8-Rg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIxZGRlMjBhMS1jZDk2LTQ1ZDEtYjllNS0xODg0ODEzMzZjZjciLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"files": {}, "status": "COMPLETE", "name": "a_redis_stack", "tags":
        null, "stack_user_project_id": "<RS_TENANT_ID>", "environment": {"encrypted_param_names":
        [], "parameter_defaults": {}, "event_sinks": [], "parameters": {}, "resource_registry":
        {"resources": {}}}, "template": {"parameter_groups": [{"parameters": ["flavor",
        "image"], "label": "Server Settings"}, {"parameters": ["redis_port"], "label":
        "Redis Settings"}, {"parameters": ["redis_version", "redis_hostname", "kitchen",
        "chef_version"], "label": "rax-dev-params"}], "heat_template_version": "2013-05-23",
        "description": "This is a Heat template to deploy a standalone redis server
        on\nRackspace Cloud Servers\n", "parameters": {"redis_hostname": {"default":
        "redis", "type": "string", "description": "Hostname for Redis server", "label":
        "Server Hostname"}, "image": {"default": "Ubuntu 14.04 LTS (Trusty Tahr) (PV)",
        "constraints": [{"description": "Must be a supported operating system.", "allowed_values":
        ["Ubuntu 12.04 LTS (Precise Pangolin) (PVHVM)", "Ubuntu 14.04 LTS (Trusty
        Tahr) (PV)"]}], "type": "string", "description": "Server image used for all
        servers that are created as a part of this\ndeployment\n", "label": "Operating
        System"}, "redis_version": {"default": "2.8.14", "type": "string", "description":
        "version of Redis to install", "label": "Redis Version"}, "redis_port": {"default":
        6379, "constraints": [{"range": {"max": 65535, "min": 1024}, "description":
        "Must be between 1024 and 65535."}], "type": "number", "description": "Port
        for redis servers to listen on.", "label": "Port"}, "flavor": {"default":
        "1 GB General Purpose v1", "constraints": [{"description": "Must be a valid
        Rackspace Cloud Server flavor for the region you have\nselected to deploy
        into.\n", "allowed_values": ["1 GB General Purpose v1", "2 GB General Purpose
        v1", "4 GB General Purpose v1", "8 GB General Purpose v1", "15 GB I/O v1",
        "30 GB I/O v1", "512MB Standard Instance", "1GB Standard Instance", "2GB Standard
        Instance", "4GB Standard Instance", "8GB Standard Instance", "15GB Standard
        Instance", "30GB Standard Instance"]}], "type": "string", "description": "Rackspace
        Cloud Server flavor to use. The size is based on the amount of\nRAM for the
        provisioned server.\n", "label": "Server Size"}, "chef_version": {"default":
        "11.12.8", "type": "string", "description": "Version of chef client to use",
        "label": "Chef Version"}, "kitchen": {"default": "https://github.com/rackspace-orchestration-templates/redis-single",
        "type": "string", "description": "URL for the kitchen to use", "label": "Kitchen"}},
        "outputs": {"redis_password": {"description": "Redis Password", "value": {"get_attr":
        ["redis_password", "value"]}}, "private_key": {"description": "SSH Private
        Key", "value": {"get_attr": ["ssh_key", "private_key"]}}, "redis_server_ip":
        {"description": "Server IP", "value": {"get_attr": ["redis_server", "accessIPv4"]}},
        "redis_port": {"description": "Redis Port", "value": {"get_param": "redis_port"}}},
        "resources": {"redis_server": {"depends_on": "ssh_key", "type": "Rackspace::Cloud::Server",
        "properties": {"key_name": {"get_resource": "ssh_key"}, "flavor": {"get_param":
        "flavor"}, "name": {"get_param": "redis_hostname"}, "image": {"get_param":
        "image"}, "metadata": {"rax-heat": {"get_param": "OS::stack_id"}}}}, "redis_server_config":
        {"depends_on": "redis_server", "type": "OS::Heat::ChefSolo", "properties":
        {"username": "root", "node": {"redisio": {"default_settings": {"requirepass":
        {"get_attr": ["redis_password", "value"]}}, "version": {"get_param": "redis_version"},
        "servers": [{"name": {"get_param": "redis_hostname"}, "port": {"get_param":
        "redis_port"}}]}, "run_list": ["recipe[apt]", "recipe[build-essential]", "recipe[redisio::default]",
        "recipe[redisio::enable]"]}, "private_key": {"get_attr": ["ssh_key", "private_key"]},
        "host": {"get_attr": ["redis_server", "accessIPv4"]}, "chef_version": {"get_param":
        "chef_version"}, "kitchen": {"get_param": "kitchen"}}}, "ssh_key": {"type":
        "OS::Nova::KeyPair", "properties": {"name": {"get_param": "OS::stack_id"},
        "save_private_key": true}}, "redis_password": {"type": "OS::Heat::RandomString",
        "properties": {"length": 16, "sequence": "lettersdigits"}}}}, "action": "CREATE",
        "project_id": "<RS_TENANT_ID>", "id": "f6231460-c796-4d14-83e7-1b39d292e7eb",
        "resources": {"redis_server": {"status": "COMPLETE", "name": "redis_server",
        "resource_data": {"private_key": "-----BEGIN RSA PRIVATE KEY-----\nMIICXQIBAAKBgQC8f4JoFXy96yDO7g1YF0LPc7ztU5OGHMKQG65R8n8DtTG26uAA\ntbn/ZEoiOAjf4ELPKhbgO8M8rbMvr2fo5HYVnEB4cdoDgwT9LYZgWk+H1vUh7FOl\nUy+jMMaH56JqzJQOwk9i08EvV7M+lqpBstl4S+PNxgU7y9d7u/AIiUTh5QIDAQAB\nAoGBAJA2jbLMHa+/oE4w2oy23yqQRc7czlUg08olI20Wtg5EJlDnyZFBd5fpRr5/\nWGrPzM1qSi4sCub1jc3BySHpCF2YFRwbwcFPVMN0RZHDo9JxZKiTkYBRPCk8IxIo\nmJfYtoiExywwH+TEzfCuu5EUxKOXJFnqYxrFrgGo2s2Q6I/RAkEA2cI9mQPiHI1g\n2teDZ3swNRjX1B0BUUw8vZlpwqEcf3i+b5vqVU9RF7W2xYLHkkdMBkGRV45PlOee\n836MylUwpwJBAN2ZzLkHUtaeZlcW00MQBw7clfGajLYeAEXltTa9DPEHSwl8oWeH\nrNf2jwsScUhOFNkgqxa5EPi+2d5LGLeSvpMCQQCeWWKDp9BAJQreeMOEd49JvUQN\naf4wSTkOQsYmkxPvGjWZYY7Y9HGqxSggnoZTt+bv0bRIMCNsy7XJqSfmZmaXAkBk\n5RTIHeSCoSY5esP/obmE87w1f8eXV7uKF5dVb+gHiemJTTxz1dtFjRX91YzMffiS\nD4S2WNa4WrT5uDltw5uPAkAsoZRP3ycJAWWbeicjtErV5CnFany4uueP14NgdgLa\nAWdFWjthiw7XpDi3pheLJQ3CiCMttDjlhAQ8Qk2sEl6z\n-----END
        RSA PRIVATE KEY-----"}, "resource_id": "7a427fa5-3ef6-40c9-ac00-3e1c40679d69",
        "action": "CREATE", "type": "Rackspace::Cloud::Server", "metadata": {}}, "redis_server_config":
        {"status": "COMPLETE", "name": "redis_server_config", "resource_data": {"process_id":
        "20460"}, "resource_id": "934809d7-e114-4311-8812-ff62516f629b", "action":
        "CREATE", "type": "OS::Heat::ChefSolo", "metadata": {}}, "ssh_key": {"status":
        "COMPLETE", "name": "ssh_key", "resource_data": {"private_key": "-----BEGIN
        RSA PRIVATE KEY-----\nMIIEqQIBAAKCAQEAynl6SZHi5Zsqqgrpja9P5Sj4ECHR4mam+4KXnoiYJYGlWwKR\n+64fTwx6VjPmmwL5bwDLRebY98Kes4g/+/BPNDd30+oEsAXEu4mBbnfQrtcR7WBi\n7xE2+9wuudol/gC1A1KyHNOMKptivm/g2/uzV0Do8Z+N376QVbE7Mzst9dfzDXaY\nrQ9w0QemIJjeKX/+L[...]
[...]
