---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAH7Sdw747dEn3w3PwlHJLlI5YFZuGa8WNjzLJLIM8KaLmuXKPcAMcTE07PX56DMlIsskz72LIvmz_GKPrM7m5PhuWDF0oCfauosx_Mho_TKV8Fc6GE9brLuWJRYBgKbX9v9acCA","expires":"2016-03-18T14:16:07.643Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAH7Sdw747dEn3w3PwlHJLlI5YFZuGa8WNjzLJLIM8KaLmuXKPcAMcTE07PX56DMlIsskz72LIvmz_GKPrM7m5PhuWDF0oCfauosx_Mho_TKV8Fc6GE9brLuWJRYBgKbX9v9acCA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJlMDA5YjI3Mi1iODljLTQ0ZTQtYTM5ZC0xMTU5NTU0ZjBlY2EiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stacks": [{"description": "#### Single Server\n\nA single Linux server
        running a standalone instance of\n[redis 2.8.13](http://redis.io/).\n", "parent":
        null, "stack_status_reason": "Stack CREATE completed successfully", "stack_name":
        "def", "stack_user_project_id": "<RS_TENANT_ID>", "tags": null, "creation_time":
        "2016-03-17T14:17:06", "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "204c0f03-4070-40ff-82aa-ed72797261a1"}, {"description":
        "#### Single Server\n\nA single Linux server running a standalone instance
        of\n[redis 2.8.13](http://redis.io/).\n", "parent": null, "stack_status_reason":
        "Stack CREATE completed successfully", "stack_name": "abc", "stack_user_project_id":
        "<RS_TENANT_ID>", "tags": null, "creation_time": "2016-03-17T14:16:44", "links":
        [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/abc/6451682a-29cc-4c32-a847-b6feb98c81ff",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "6451682a-29cc-4c32-a847-b6feb98c81ff"}]}'
  recorded_at: Thu, 17 Mar 2016 14:22:44 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAH7Sdw747dEn3w3PwlHJLlI5YFZuGa8WNjzLJLIM8KaLmuXKPcAMcTE07PX56DMlIsskz72LIvmz_GKPrM7m5PhuWDF0oCfauosx_Mho_TKV8Fc6GE9brLuWJRYBgKbX9v9acCA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJhMjc4MDYwNS1lODZiLTRhMDEtODIyOC0yMjRjNjc2NGVkZjkiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"resources": [{"resource_name": "redis_password", "links": [{"href":
        "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_password",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "stack"}], "logical_resource_id": "redis_password", "creation_time":
        "2016-03-17T14:17:06", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-03-17T14:17:06", "required_by": ["redis_server_config"], "resource_status_reason":
        "state changed", "physical_resource_id": "def-redis_password-wflqay2ejepb",
        "resource_type": "OS::Heat::RandomString"}, {"resource_name": "redis_server",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_server",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "stack"}], "logical_resource_id": "redis_server", "creation_time":
        "2016-03-17T14:17:06", "resou[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAH7Sdw747dEn3w3PwlHJLlI5YFZuGa8WNjzLJLIM8KaLmuXKPcAMcTE07PX56DMlIsskz72LIvmz_GKPrM7m5PhuWDF0oCfauosx_Mho_TKV8Fc6GE9brLuWJRYBgKbX9v9acCA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIyMTU4NTFlMy0yODMyLTQ2YjYtYmJlMC02NDEyZGE1MTNlNWMiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"events": [{"resource_name": "def", "event_time": "2016-03-17T14:20:40",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/def/events/a306b048-98cf-4457-b46e-82efa3430b5b",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/def",
        "rel": "resource"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/sta[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAH7Sdw747dEn3w3PwlHJLlI5YFZuGa8WNjzLJLIM8KaLmuXKPcAMcTE07PX56DMlIsskz72LIvmz_GKPrM7m5PhuWDF0oCfauosx_Mho_TKV8Fc6GE9brLuWJRYBgKbX9v9acCA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJjMmVmNDg1MC0zOGY4LTRhNDctOTM1YS1lYjRkMWRkMDI1OTciLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stack":{"disable_rollback":true,"description":"#### Single Server\n\nA
        single Linux server running a standalone instance of\n[redis 2.8.13](http://redis.io/).\n","parent":null,"tags":null,"stack_name":"def","stack_user_project_id":"<RS_TENANT_ID>","stack_status_reason":"Stack
        CREATE completed successfully","creation_time":"2016-03-17T14:17:06","links":[{"href":"https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1","rel":"self"}],"capabilities":[],"notification_topics":[],"parameters":{"OS::project_id":"<RS_TENANT_ID>","OS::stack_id":"204c0f03-4070-40ff-82aa-ed72797261a1","OS::stack_name":"def","redis_hostname":"redis","image":"Ubuntu
        14.04 LTS (Trusty Tahr) (PV)","chef_version":"11.12.8","redis_port":"6379","flavor":"1
        GB General Purpose v1","redis_version":"2.8.14","kitchen":"https://github.com/rackspace-orchestration-templates/redis-single"},"timeout_mins":null,"stack_status":"CREATE_COMPLETE","stack_owner":null,"updated_time":null,"id":"204c0f03-4070-40ff-82aa-ed72797261a1","outputs":[{"output_value":"*****","output_key":"redis_password","description":"Redis
        Password"},{"output_value":"*****","output_key":"private_key","description":"SSH
        Private Key"},{"output_value":"104.130.142.142","output_key":"redis_server_ip","description":"Server
        IP"},{"output_value":6379,"output_key":"redis_port","description":"Redis Port"}],"template_description":"####
        Single Server\n\nA single Linux server running a standalone instance of\n[redis
        2.8.13](http://redis.io/).\n"}}'
  recorded_at: Thu, 17 Mar 2016 14:22:48 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_password/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAH7Sdw747dEn3w3PwlHJLlI5YFZuGa8WNjzLJLIM8KaLmuXKPcAMcTE07PX56DMlIsskz72LIvmz_GKPrM7m5PhuWDF0oCfauosx_Mho_TKV8Fc6GE9brLuWJRYBgKbX9v9acCA
  response:
    status:
      code: [...]
- request:
    method: post
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: UTF-8
      string: '{"stack_name":"a_redis_stack","template":"heat_template_version: 2013-05-23\n\ndescription:
        |\n  This is a Heat template to deploy a standalone redis server on\n  Rackspace
        Cloud Servers\n\nparameter_groups:\n\n- label: Server Settings\n  parameters:\n  -
        flavor\n  - image\n\n- label: Redis Settings\n  parameters:\n  - redis_port\n\n-
        label: rax-dev-params\n  parameters:\n  - redis_version\n  - redis_hostname\n  -
        kitchen\n  - chef_version\n\nparameters:\n\n  flavor:\n    label: Server Size\n    description:
        |\n      Rackspace Cloud Server flavor to use. The size is based on the amount
        of\n      RAM for the provisioned server.\n    type: string\n    default:
        1 GB General Purpose v1\n    constraints:\n    - allowed_values:\n      -
        1 GB General Purpose v1\n      - 2 GB General Purpose v1\n      - 4 GB General
        Purpose v1\n      - 8 GB General Purpose v1\n      - 15 GB I/O v1\n      -
        30 GB I/O v1\n      - 512MB Standard Instance\n      - 1GB Standard Instance\n      -
        2GB Standard Instance\n      - 4GB Standard Instance\n      - 8GB Standard
        Instance\n      - 15GB Standard Instance\n      - 30GB Standard Instance\n      description:
        |\n        Must be a valid Rackspace Cloud Server flavor for the region you
        have\n        selected to deploy into.\n\n  image:\n    label: Operating System\n    description:
        |\n      Server image used for all servers that are created as a part of this\n      deployment\n    type:
        string\n    default: Ubuntu 14.04 LTS (Trusty Tahr) (PV)\n    constraints:\n    -
        allowed_values:\n      - Ubuntu 12.04 LTS (Precise Pangolin) (PVHVM)\n      -
        Ubuntu 14.04 LTS (Trusty Tahr) (PV)\n      description: Must be a supported
        operating system.\n\n  redis_version:\n    label: Redis Version\n    description:
        version of Redis to install\n    type: string\n    default: 2.8.14\n\n  redis_hostname:\n    label:
        Server Hostname\n    description: Hostname for Redis server\n    type: string\n    default:
        redis\n\n  redis_port:\n    label: Port\n    description: Port for redis servers
        to listen on.\n    type: number\n    default: 6379\n    constraints:\n    -
        range:\n        min: 1024\n        max: 65535\n      description: Must be
        between 1024 and 65535.\n\n\n  kitchen:\n    label: Kitchen\n    description:
        URL for the kitchen to use\n    type: string\n    default: https://github.com/rackspace-orchestration-templates/redis-single\n\n  chef_version:\n    label:
        Chef Version\n    description: Version of chef client to use\n    type: string\n    default:
        11.12.8\n\nresources:\n\n  ssh_key:\n    type: OS::Nova::KeyPair\n    properties:\n      name:
        { get_param: \"OS::stack_id\" }\n      save_private_key: true\n\n  redis_password:\n    type:
        OS::Heat::RandomString\n    properties:\n      length: 16\n      sequence:
        lettersdigits\n\n  redis_server:\n    type: Rackspace::Cloud::Server\n    depends_on:
        ssh_key\n    properties:\n      name: { get_param: redis_hostname }\n      flavor:
        { get_param: flavor }\n      image: { get_param: image }\n      key_name:
        { get_resource: ssh_key }\n      metadata:\n        rax-heat: { get_param:
        \"OS::stack_id\" }\n\n  redis_server_config:\n    type: OS::Heat::ChefSolo\n    depends_on:
        redis_server\n    properties:\n      username: root\n      private_key: {
        get_attr: [ssh_key, private_key] }\n      host: { get_attr: [redis_server,
        accessIPv4] }\n      kitchen: { get_param: kitchen }\n      chef_version:
        { get_param: chef_version }\n      node:\n        run_list: [ \"recipe[apt]\",\n                    \"recipe[build-essential]\",\n                    \"recipe[redisio::default]\",\n                    \"recipe[redisio::enable]\"
        ]\n        redisio:\n          default_settings:\n            requirepass:
        { get_attr: [redis_password, value] }\n          servers:\n            - name:
        { get_param: redis_hostname }\n              port: { get_param: redis_port
        }\n          version: { get_param: redis_version }\n\noutputs:\n  private_key:\n    description:
        SSH Private Key\n    value: { get_attr: [ssh_key, private_key] }\n\n  redis_password:\n    description:
        Redis Password\n    value: { get_attr: [redis_password, value] }\n\n  redis_server_ip:\n    description:
        Server IP\n    value: { get_attr: [redis_server, accessIPv4]}\n\n  redis_port:\n    description:
        Redis Port\n    value: { get_param: redis_port }\n"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAH7Sdw747dEn3w3PwlHJLlI5YFZuGa8WNjzLJLIM8KaLmuXKPcAMcTE07PX56DMlIsskz72LIvmz_GKPrM7m5PhuWDF0oCfauosx_Mho_TKV8Fc6GE9brLuWJRYBgKbX9v9acCA
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
      Location:
      - https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/54ecb476-8d04-4eaf-996d-0b23b8106683
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJjMzRlMDNkOS1lMGE2LTQxODgtOWQ0Ni03YzhhYjE3OWI3MTIiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stack": {"id": "54ecb476-8d04-4eaf-996d-0b23b8106683", "links": [{"href":
        "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/54ecb476-8d04-4eaf-996d-0b23b8106683",
        "rel": "self"}]}}'
  recorded_at: Thu, 17 Mar 2016 14:22:52 GMT
recorded_with: VCR 3.0.1
