---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAVXtvpGFTH2peoEh-LTj2A_Jz_3EDxY4KA0bgVmnf6v8SZ22auLBeA3QaQVy386OS54jrD1DHwQEJA0GxEIztdHNBMXKU2Xv-IUpUx2OEe6J_Oij_IdcuAwBkIrJgx8YLBq1bNw","expires":"2016-03-17T18:14:34.182Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAVXtvpGFTH2peoEh-LTj2A_Jz_3EDxY4KA0bgVmnf6v8SZ22auLBeA3QaQVy386OS54jrD1DHwQEJA0GxEIztdHNBMXKU2Xv-IUpUx2OEe6J_Oij_IdcuAwBkIrJgx8YLBq1bNw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJiMDQ4M2U4Zi01YmM5LTQ2OTktYmViNC1kOGIxMWNkN2M5MTIiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stacks": [{"description": "This is a Heat template to deploy a standalone
        redis server on\nRackspace Cloud Servers\n", "parent": null, "stack_status_reason":
        "Stack CREATE completed successfully", "stack_name": "a_redis_stack", "stack_user_project_id":
        "<RS_TENANT_ID>", "tags": null, "creation_time": "2016-03-16T18:03:37", "links":
        [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "e9caf8cd-0e4c-433d-ad11-b47479f2ab8f"}, {"description":
        "#### Production\n\nThis stack is intended for low to medium traffic production\nwebsites
        and can be scaled as needed to accommodate future\ngrowth.  This stack includes
        a Cloud Load Balancer, Cloud\nDatabase, and a Master server (plus optional
        secondary\nservers).  It also includes Cloud Monitoring and Cloud\nBackups.\n\nThis
        stack is running the latest version of\n[WordPress](http://wordpress.org/about/),\n[nginx](https://www.nginx.com/),\nand
        [PHP FPM](http://php-fpm.org/).\nwith a Cloud Database running\n[MySQL 5.6](http://www.mysql.com/about/).\n",
        "parent": null, "stack_status_reason": "Stack DELETE started", "stack_name":
        "wordpress", "stack_user_project_id": "<RS_TENANT_ID>", "tags": null, "creation_time":
        "2016-03-16T17:57:01", "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/wordpress/bfa8e776-4d25-4948-849e-0c6e24be6c9c",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "DELETE_IN_PROGRESS", "id": "bfa8e776-4d25-4948-849e-0c6e24be6c9c"}]}'
  recorded_at: Wed, 16 Mar 2016 18:09:05 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAVXtvpGFTH2peoEh-LTj2A_Jz_3EDxY4KA0bgVmnf6v8SZ22auLBeA3QaQVy386OS54jrD1DHwQEJA0GxEIztdHNBMXKU2Xv-IUpUx2OEe6J_Oij_IdcuAwBkIrJgx8YLBq1bNw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIwNjdjMzQwYy1jNDgzLTQ2OGUtODkyYS1lNmVhYjEwMzU4Y2MiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"resources": [{"resource_name": "redis_password", "links": [{"href":
        "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/redis_password",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "stack"}], "logical_resource_id": "redis_password", "creation_time":
        "2016-03-16T18:03:37", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-03-16T18:03:37", "required_by": ["redis_server_config"], "resource_status_reason":
        "state changed", "physical_resource_id": "a_redis_stack-redis_password-ftazjp6fqkhh",
        "resource_type": "OS::Heat::RandomString"}, {"resource_name": "redis_server",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/redis_server",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "stack"}], "logical_resource_id": "redis_server", "creation_time":
        "2016-03-[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAVXtvpGFTH2peoEh-LTj2A_Jz_3EDxY4KA0bgVmnf6v8SZ22auLBeA3QaQVy386OS54jrD1DHwQEJA0GxEIztdHNBMXKU2Xv-IUpUx2OEe6J_Oij_IdcuAwBkIrJgx8YLBq1bNw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiI4ZjIwYjgwOC00NmQ0LTQyYWMtODViZi00YzNiYWFiNDYwM2EiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"events": [{"resource_name": "a_redis_stack", "event_time": "2016-03-16T18:07:30",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/a_redis_stack/events/c25af384-0c60-45bd-b099-432e2db25de4",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/a_redis_stack",
        "rel": "resource"}, {"href": "https://dfw.orchestration.api.[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAVXtvpGFTH2peoEh-LTj2A_Jz_3EDxY4KA0bgVmnf6v8SZ22auLBeA3QaQVy386OS54jrD1DHwQEJA0GxEIztdHNBMXKU2Xv-IUpUx2OEe6J_Oij_IdcuAwBkIrJgx8YLBq1bNw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIxMzJiMjhlZS02ODQ2LTQ0YmEtOThhYy03ZDBlNWIzOWZkMjAiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stack": {"disable_rollback": true, "description": "This is a Heat
        template to deploy a standalone redis server on\nRackspace Cloud Servers\n",
        "parent": null, "tags": null, "stack_name": "a_redis_stack", "stack_user_project_id":
        "<RS_TENANT_ID>", "stack_status_reason": "Stack CREATE completed successfully",
        "creation_time": "2016-03-16T18:03:37", "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "rel": "self"}], "capabilities": [], "notification_topics": [], "updated_time":
        null, "timeout_mins": null, "stack_status": "CREATE_COMPLETE", "stack_owner":
        null, "parameters": {"OS::project_id": "<RS_TENANT_ID>", "OS::stack_id": "e9caf8cd-0e4c-433d-ad11-b47479f2ab8f",
        "OS::stack_name": "a_redis_stack", "redis_hostname": "redis", "image": "Ubuntu
        14.04 LTS (Trusty Tahr) (PV)", "redis_version": "2.8.14", "redis_port": "6379",
        "flavor": "1 GB General Purpose v1", "chef_version": "11.12.8", "kitchen":
        "https://github.com/rackspace-orchestration-templates/redis-single"}, "id":
        "e9caf8cd-0e4c-433d-ad11-b47479f2ab8f", "outputs": [{"output_value": "aoGA8G6BlOE6mW64",
        "output_key": "redis_password", "description": "Redis Password"}, {"output_value":
        "-----BEGIN RSA PRIVATE KEY-----\nMIIEqAIBAAKCAQEAu+E+td+n99/wIJy/cFxbpVKr5wcUaJutiXSbK5FxKtGnL/BP\ne847cqziv2OJ6fyLF6+ZxzRQmxF2dCWInIH/NL5NdufxZNi1z/U4X/aYFIIGB3fr\nCirARPkkmc+Zs4Y/4a2v2r4oA8K0KVY9756RDW1MfhmbWyiadu78h00Wep/9wKFL\nd8Dhfg12voGW4vC0rx2th7TG5YE74zsPapjQaARcWOWJwYuKGPCX5JDKNf85Khu4\nef7RgmYKC9cDF/KlkQWrxGUuTq7RoB1wYmIa6WvzQdmuJDrCct5E8kCIvaJDeLG8\nOnL9abNkA4GVzvkrSLufOxdEFOr3H/1nkX/0iwIDAQABAoIBAEGnpvh7ng[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/a_redis_stack/e9caf8cd-0e4c-433d-ad11-b47479f2ab8f/resources/redis_password/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAVXtvpGFTH2peoEh-LTj2A_Jz_3EDxY4KA0bgVmnf6v8SZ22auLBeA3QaQVy386OS54jrD1DHwQEJA0GxEIztdHNBMXKU2Xv-IUpUx2OEe6J_Oij_IdcuAwBkIrJgx8YLBq1bNw
  response:
    status:
  [...]
- request:
    method: get
    uri: https://iad.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAVXtvpGFTH2peoEh-LTj2A_Jz_3EDxY4KA0bgVmnf6v8SZ22auLBeA3QaQVy386OS54jrD1DHwQEJA0GxEIztdHNBMXKU2Xv-IUpUx2OEe6J_Oij_IdcuAwBkIrJgx8YLBq1bNw
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJlYmE4NGExMS0yMDZlLTQwYzMtYTI2Yi02OTFjNzBiYzJhNzkiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stacks": []}'
  recorded_at: Thu, 17 Mar 2016 14:14:05 GMT
recorded_with: VCR 3.0.1
