---
http_interactions:
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"43584","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/secrets/df1e0f02-66df-40af-8532-649229af6d16
      X-Openstack-Request-Id:
      - req-453de393-1ef0-4066-9172-062b55aacbc0
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/df1e0f02-66df-40af-8532-649229af6d16"}'
  recorded_at: Mon, 27 Apr 2015 19:14:03 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/df1e0f02-66df-40af-8532-649229af6d16
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-cf5361a5-e500-47f5-b9eb-3c30394b0688
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "secret_type": "opaque", "updated": "2015-04-27T19:14:03.873892",
        "name": "43584", "algorithm": "aes", "created": "2015-04-27T19:14:03.864323",
        "secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/df1e0f02-66df-40af-8532-649229af6d16",
        "content_types": {"default": "text/plain"}, "expiration": null, "bit_length":
        256, "mode": "cbc"}'
  recorded_at: Mon, 27 Apr 2015 19:14:05 GMT
recorded_with: VCR 2.9.3
