---
http_interactions:
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"private_key","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 May 2015 17:18:05 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"mattdarbytest","apiKey":"c8b184b2c1e34662abfdb5d40a035aa0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"af7286a0b0fd4cd793be0161b11aa8a3","expires":"2015-05-05T16:40:42.170Z","tenant":{"id":"930035","name":"930035"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"HKG","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_930035"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_9[...]
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"private_key","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e
      X-Openstack-Request-Id:
      - req-fd749c12-2c1f-464e-864d-db6b92065b85
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e"}'
  recorded_at: Mon, 04 May 2015 17:18:06 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-c584eb1a-446a-4fd2-b0f7-558288f157ed
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "secret_type": "opaque", "updated": "2015-05-04T17:18:06.908191",
        "name": "private_key", "algorithm": "aes", "created": "2015-05-04T17:18:06.896804",
        "secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e",
        "content_types": {"default": "text/plain"}, "expiration": null, "bit_length":
        256, "mode": "cbc"}'
  recorded_at: Mon, 04 May 2015 17:18:10 GMT
[...]
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/containers
    body:
      encoding: UTF-8
      string: '{"type":"rsa","name":"container_data","meta":{"name":"secretname","algorithm":"AES","bit_length":256,"mode":"cbc","payload_content_type":"application/octet-stream"},"secret_refs":[{"name":"private_key","secret_ref":"https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e"},{"name":"public_key","secret_ref":"https://ord.keep.api.rackspacecloud.com/v1/secrets/cf1e2e38-e126-4fe7-996d-8fac0dadb534"},{"name":"private_key_passphrase","secret_ref":"https://ord.keep.api.rackspacecloud.com/v1/secrets/100aee98-b36c-4062-9b3d-58bbd6f789c6"}]}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4
      X-Openstack-Request-Id:
      - req-f03f5885-6dbb-43b1-b41f-785a0b327778
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"container_ref": "https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4"}'
  recorded_at: Mon, 04 May 2015 17:18:18 GMT
[...]
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/containers
    body:
      encoding: UTF-8
      string: '{"type":"rsa","name":"container_data","meta":{"name":"secretname","algorithm":"AES","bit_length":256,"mode":"cbc","payload_content_type":"application/octet-stream"},"secret_refs":[{"name":"private_key","secret_ref":"https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e"},{"name":"public_key","secret_ref":"https://ord.keep.api.rackspacecloud.com/v1/secrets/cf1e2e38-e126-4fe7-996d-8fac0dadb534"},{"name":"private_key_passphrase","secret_ref":"https://ord.keep.api.rackspacecloud.com/v1/secrets/100aee98-b36c-4062-9b3d-58bbd6f789c6"}]}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/containers/118ec0f4-9d87-4689-afd2-d8664f62803a
      X-Openstack-Request-Id:
      - req-5e31a202-5b84-4b93-88eb-d2f8c4a45f17
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"container_ref": "https://ord.keep.api.rackspacecloud.com/v1/containers/118ec0f4-9d87-4689-afd2-d8664f62803a"}'
  recorded_at: Mon, 04 May 2015 17:18:51 GMT
recorded_with: VCR 2.9.3
