---
http_interactions:
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"596103","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/secrets/c5650182-30af-4d13-98b8-61bf4662626f
      X-Openstack-Request-Id:
      - req-26e9c7d1-ad5d-4876-885b-f95b4e0a9a9f
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/c5650182-30af-4d13-98b8-61bf4662626f"}'
  recorded_at: Mon, 27 Apr 2015 20:26:03 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/c5650182-30af-4d13-98b8-61bf4662626f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-194e9445-1c6c-4f10-bdf1-74f775e11301
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "secret_type": "opaque", "updated": "2015-04-27T20:26:03.973179",
        "name": "596103", "algorithm": "aes", "created": "2015-04-27T20:26:03.960663",
        "secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/c5650182-30af-4d13-98b8-61bf4662626f",
        "content_types": {"default": "text/plain"}, "expiration": null, "bit_length":
        256, "mode": "cbc"}'
  recorded_at: Mon, 27 Apr 2015 20:26:04 GMT
[...]
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/c5650182-30af-4d13-98b8-61bf4662626f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 404
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-2d382f3a-0873-4a7a-a5bd-ffd3cd4d795c
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code": 404, "description": "Not Found. Sorry but your secret is in
        another castle.", "title": "Not Found"}'
  recorded_at: Mon, 27 Apr 2015 20:26:05 GMT
recorded_with: VCR 2.9.3
