---
http_interactions:
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4/consumers
    body:
      encoding: UTF-8
      string: '{"name":"foo-service","URL":"https://www.fooservice.com/widgets/1234"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 200
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/consumers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4/consumers
      X-Openstack-Request-Id:
      - req-07d44469-4541-4cc8-8192-4976b237c6a8
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "updated": "2015-05-04T19:00:31.512248", "name":
        "container_data", "consumers": [{"URL": "https://www.fooservice.com/widgets/1234",
        "name": "foo-service"}], "created": "2015-05-04T17:18:18.587892", "container_ref":
        "https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4",
        "secret_refs": [{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e",
        "name": "private_key"}, {"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/cf1e2e38-e126-4fe7-996d-8fac0dadb534",
        "name": "public_key"}, {"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/100aee98-b36c-4062-9b3d-58bbd6f789c6",
        "name": "private_key_passphrase"}], "type": "rsa"}'
  recorded_at: Mon, 04 May 2015 20:04:32 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4/consumers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-fbd6c2b7-d761-4d19-893a-7bbbedc71410
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"total": 1, "consumers": [{"status": "ACTIVE", "URL": "https://www.fooservice.com/widgets/1234",
        "updated": "2015-05-04T20:04:32.809655", "name": "foo-service", "created":
        "2015-05-04T19:00:31.520308"}]}'
  recorded_at: Mon, 04 May 2015 20:04:33 GMT
[...]
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4/consumers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-218ec869-dd2a-43b7-a446-6a0ca51b7391
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"total": 0, "consumers": []}'
  recorded_at: Mon, 04 May 2015 20:04:34 GMT
recorded_with: VCR 2.9.3
