---
http_interactions:
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-4372dc91-d696-4fac-95e7-8fe699b2ab67
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "updated": "2015-05-04T17:18:18.587892", "name":
        "container_data", "consumers": [], "created": "2015-05-04T17:18:18.587892",
        "container_ref": "https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4",
        "secret_refs": [{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e",
        "name": "private_key"}, {"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/cf1e2e38-e126-4fe7-996d-8fac0dadb534",
        "name": "public_key"}, {"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/100aee98-b36c-4062-9b3d-58bbd6f789c6",
        "name": "private_key_passphrase"}], "type": "rsa"}'
  recorded_at: Mon, 04 May 2015 17:38:26 GMT
[...]
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-9bec2b7d-02b1-426f-9861-59c7eaeed693
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "updated": "2015-05-04T17:18:18.587892", "name":
        "container_data", "consumers": [], "created": "2015-05-04T17:18:18.587892",
        "container_ref": "https://ord.keep.api.rackspacecloud.com/v1/containers/27a5ad4f-3557-48e8-90f1-deeeb37d3db4",
        "secret_refs": [{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/febb8678-4eaf-4fdd-b6a9-761c98a5dc3e",
        "name": "private_key"}, {"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/cf1e2e38-e126-4fe7-996d-8fac0dadb534",
        "name": "public_key"}, {"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/100aee98-b36c-4062-9b3d-58bbd6f789c6",
        "name": "private_key_passphrase"}], "type": "rsa"}'
  recorded_at: Mon, 04 May 2015 17:42:16 GMT
recorded_with: VCR 2.9.3
