---
http_interactions:
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"208796","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/secrets/231dcc88-96b4-4bc7-b06b-a76ab2cc452a
      X-Openstack-Request-Id:
      - req-36c53a16-7362-4400-9121-a259fe5f9b67
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/231dcc88-96b4-4bc7-b06b-a76ab2cc452a"}'
  recorded_at: Mon, 27 Apr 2015 19:14:31 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/231dcc88-96b4-4bc7-b06b-a76ab2cc452a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-79c7e1e1-f0b1-443a-89f9-ecc3d52fcfae
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "secret_type": "opaque", "updated": "2015-04-27T19:14:32.027962",
        "name": "208796", "algorithm": "aes", "created": "2015-04-27T19:14:32.016824",
        "secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/231dcc88-96b4-4bc7-b06b-a76ab2cc452a",
        "content_types": {"default": "text/plain"}, "expiration": null, "bit_length":
        256, "mode": "cbc"}'
  recorded_at: Mon, 27 Apr 2015 19:14:32 GMT
recorded_with: VCR 2.9.3
