---
http_interactions:
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"142549","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/secrets/9cf4c89c-6f0b-4d3d-b430-5e9fff682528
      X-Openstack-Request-Id:
      - req-1a39839c-2ce3-4081-a967-4d69ae054bcb
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/9cf4c89c-6f0b-4d3d-b430-5e9fff682528"}'
  recorded_at: Mon, 27 Apr 2015 19:42:03 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/9cf4c89c-6f0b-4d3d-b430-5e9fff682528
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-e91d4f0a-6d31-4b52-9227-69b2245011a3
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "secret_type": "opaque", "updated": "2015-04-27T19:42:03.359781",
        "name": "142549", "algorithm": "aes", "created": "2015-04-27T19:42:03.349822",
        "secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/9cf4c89c-6f0b-4d3d-b430-5e9fff682528",
        "content_types": {"default": "text/plain"}, "expiration": null, "bit_length":
        256, "mode": "cbc"}'
  recorded_at: Mon, 27 Apr 2015 19:42:04 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/9cf4c89c-6f0b-4d3d-b430-5e9fff682528
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-bd39040e-9fe6-42ed-bdbc-f7d7e9a02aeb
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: testing!
  recorded_at: Mon, 27 Apr 2015 19:42:04 GMT
recorded_with: VCR 2.9.3
