---
http_interactions:
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"private_key","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 0d5be217aece4fa2ae3c2d39278d632c
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 May 2015 19:09:38 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"mattdarbytest","apiKey":"c8b184b2c1e34662abfdb5d40a035aa0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"af7286a0b0fd4cd793be0161b11aa8a3","expires":"2015-05-05T16:40:42.170Z","tenant":{"id":"930035","name":"930035"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"HKG","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_930035"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"SYD","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_930035"},{"region":"DFW","tenantId":"MossoCloudFS_930035","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_930035","internalURL":"https:\/\/snet-storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_9[...]
- request:
    method: post
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets
    body:
      encoding: UTF-8
      string: '{"name":"private_key","algorithm":"aes","bit_length":256,"mode":"cbc","payload":"testing!","payload_content_type":"text/plain"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://ord.keep.api.rackspacecloud.com:443/v1/secrets/c24e2154-81f1-40ba-b89a-3cf69e01e337
      X-Openstack-Request-Id:
      - req-10d656d6-8a30-4096-8dfb-f0755c35e03e
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/c24e2154-81f1-40ba-b89a-3cf69e01e337"}'
  recorded_at: Mon, 04 May 2015 19:09:41 GMT
- request:
    method: get
    uri: https://ord.keep.api.rackspacecloud.com/v1/secrets/c24e2154-81f1-40ba-b89a-3cf69e01e337
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - af7286a0b0fd4cd793be0161b11aa8a3
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Openstack-Request-Id:
      - req-093123fe-582f-42c4-afe3-f312c018271c
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status": "ACTIVE", "secret_type": "opaque", "updated": "2015-05-04T19:09:41.627385",
        "name": "private_key", "algorithm": "aes", "created": "2015-05-04T19:09:41.612315",
        "secret_ref": "https://ord.keep.api.rackspacecloud.com/v1/secrets/c24e2154-81f1-40ba-b89a-3cf69e01e337",
        "content_types": {"default": "text/plain"}, "expiration": null, "bit_length":
        256, "mode": "cbc"}'
  recorded_at: Mon, 04 May 2015 19:09:42 GMT
recorded_with: VCR 2.9.3
