---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAha4PuUeY_jreWmOxR3KVK2wdjaUL6W7KHZfGBD-8tIzSUHrZaJ3gnekfFeQFCasPZHQ_dT55Sw_tKkg90jUnvafLTaceAScYavi2b8qzUqKxfiE7qHJ2y44BLcSuEigYvy2jhA","expires":"2016-03-18T15:01:22.781Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAha4PuUeY_jreWmOxR3KVK2wdjaUL6W7KHZfGBD-8tIzSUHrZaJ3gnekfFeQFCasPZHQ_dT55Sw_tKkg90jUnvafLTaceAScYavi2b8qzUqKxfiE7qHJ2y44BLcSuEigYvy2jhA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": ["5280f6e8-f0b9-4597-b240-cfff380cb140"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "13222b4d-c73e-40ae-b565-d4871fd63755"}, {"status":
        "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up": true, "tenant_id":
        "<RS_TENANT_ID>", "shared": false, "id": "2bec444c-680b-49b8-ad2c-8c5bde6c613e"},
        {"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent", "admin_state_up":
        true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id": "91638ef2-7378-4fd8-ae06-f6cac4118005"}],
        "networks_links": [{"href": "http://localhost:9696/v2.0/networks?marker=13222b4d-c73e-40ae-b565-d4871fd63755&page_reverse=True",
        "rel": "previous"}]}'
  recorded_at: Thu, 17 Mar 2016 14:53:58 GMT
- request:
    method: post
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"ANewNetwork"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAha4PuUeY_jreWmOxR3KVK2wdjaUL6W7KHZfGBD-8tIzSUHrZaJ3gnekfFeQFCasPZHQ_dT55Sw_tKkg90jUnvafLTaceAScYavi2b8qzUqKxfiE7qHJ2y44BLcSuEigYvy2jhA
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "f681b06c-8485-4a93-9e12-e86fa7e451c4"}}'
  recorded_at: Thu, 17 Mar 2016 14:54:00 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAha4PuUeY_jreWmOxR3KVK2wdjaUL6W7KHZfGBD-8tIzSUHrZaJ3gnekfFeQFCasPZHQ_dT55Sw_tKkg90jUnvafLTaceAScYavi2b8qzUqKxfiE7qHJ2y44BLcSuEigYvy2jhA
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Nov 2016 15:29:57 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiI1MzQwZGRjZi02MWIwLTRjOWItYWZiZi05ZmFlOTA1MmI1ODAiLCJvcmlnaW4iOm51bGx9
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"serviceCatalog":[{"endpoints":[{"tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","region":"IAD"},{"tenantId":"MossoCloudFS_<RS_TENAN[...]
[...]
- request:
    method: post
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"ANewNetwork"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACl8V4mdnZWwuCK1iOeeSh_wY1sezyyMhROuRzce4UFkLgFaiekSnEvaDFPvZ_PLyASVT11r2ecWH_0kgAlsN4XTq1W354c2wXpMNCzboo3n_KFWYSdwkG10-m2Nv7qVgPOYOilnGn_nQ
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "b45fb1ee-b72b-4bbe-9e48-fd0f8c2488b0"}}'
  recorded_at: Thu, 03 Nov 2016 15:30:02 GMT
recorded_with: VCR 3.0.1
