---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AADoQAJO8iITxTlLUpERkR598tAZ0cEIHJmAf-OUX9Ukzz0BQ4lugDY046IvSBpL6RESR1qVDw-87hp3N9BYjzabEThR-SY2s5-YFwS5IOCjDKcNKLF-VYF01Vxsh8dqCe3YLMBH8FoFKQ","expires":"2016-04-29T19:13:34.298Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
[...]
- request:
    method: get
    uri: https://dfw.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AADoQAJOnLfIXq7SsZzTSiG3rD8lH8hoY89mlfKsWFeOlFR0YwnWgZCx8of35SPpgcY2d1r3rlafzszft1oY2LhzFienCKHFEpUgQ5jIhefp4GdxKdNJ4tYU4zUOfBphOKiq5DQbrkyACg
  response:
    status:
      code: 200
      message: ''
    headers:
      X-Trans-Id:
      - 943b46c9-8b26-4aca-b8c9-123bfa3a1b4b
      Content-Type:
      - application/json
      X-Compute-Request-Id:
      - req-53693635-806b-4474-9a08-ddbc36e9559f
    body:
      encoding: UTF-8
      string: '{"servers": [{"status": "ACTIVE", "updated": "2016-03-17T14:26:40Z",
        "hostId": "236d29d99adbdffcbd3443ac63a136a14603f93e48c161ce1625d62d", "addresses":
        {"public": [{"version": 4, "addr": "104.130.134.71"}, {"version": 6, "addr":
        "2001:4800:7818:101:be76:4eff:fe06:1f80"}], "private": [{"version": 4, "addr":
        "10.208.226.140"}]}, "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/v2/<RS_TENANT_ID>/servers/7a427fa5-3ef6-40c9-ac00-3e1c40679d69",
        "rel": "self"}, {"href": "https://dfw.servers.api.rackspacecloud.com/<RS_TENANT_ID>/servers/7a427fa5-3ef6-40c9-ac00-3e1c40679d69",
        "rel": "bookmark"}], "key_name": null, "image": {"id": "b90c2591-da99-4f72-b3b8-ca3c917664ed",
        "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/<RS_TENANT_ID>/images/b90c2591-da99-4f72-b3b8-ca3c917664ed",
        "rel": "bookmark"}]}, "RAX-PUBLIC-IP-ZONE-ID:publicIPZoneId": "eff56b31e24127d8e36b2a5c0da6b3acdf6697fee67e502eef669fbb",
        "OS-EXT-STS:task_state": null, "OS-EXT-STS:vm_state": "active", "flavor":
        {"id": "general1-1", "links": [{"href": "https://dfw.servers.api.rackspacecloud.com/<RS_TENANT_ID>/flavors/general1-1",
        "rel": "bookmark"}]}, "id": "7a427fa5-3ef6-40c9-ac00-3e1c40679d69", "user_id":
        "1658c175e6f34629915d3305cd4e541c", "name": "redis", "created": "2016-03-17T14:25:43Z",
        "tenant_id": "<RS_TENANT_ID>", "OS-DCF:diskConfig": "AUTO", "accessIPv4":
        "104.130.134.71", "accessIPv6": "2001:4800:7818:101:be76:4eff:fe06:1f80",
        "progress": 100, "OS-EXT-STS:power_state": 1, "config_drive": "", "metadata":
        {"rax-heat": "f6231460-c796-4d14-83e7-1b39d292e7eb", "rax_service_level_automation":
        "Complete"}}]}'
  recorded_at: Thu, 28 Apr 2016 19:03:48 GMT
[...]
