---
http_interactions:
- request:
    method: post
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: UTF-8
      string: '{"network":{"name":"ANewNetwork"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "930035", "shared": false, "id": "e9ef02b3-04ed-4ba3-8e61-2dd819b3767f"}}'
  recorded_at: Thu, 11 Dec 2014 20:16:09 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent",
        "admin_state_up": true, "tenant_id": "930035", "shared": false, "id": "94a354e1-64e5-48e8-9076-5e9efc6cd81f"},
        {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up":
        true, "tenant_id": "930035", "shared": false, "id": "e9ef02b3-04ed-4ba3-8e61-2dd819b3767f"},
        {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up":
        true, "tenant_id": "930035", "shared": false, "id": "f45ce6cd-50f1-4415-ab7f-b14e60df2aa4"}]}'
  recorded_at: Thu, 11 Dec 2014 20:16:09 GMT
- request:
    method: post
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/subnets
    body:
      encoding: UTF-8
      string: '{"subnet":{"name":"ANewsubnet","cidr":"192.168.101.1/24","network_id":"f45ce6cd-50f1-4415-ab7f-b14e60df2aa4","ip_version":"4"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"subnet": {"name": "ANewsubnet", "enable_dhcp": null, "network_id":
        "f45ce6cd-50f1-4415-ab7f-b14e60df2aa4", "tenant_id": "930035", "dns_nameservers":
        [], "allocation_pools": [{"start": "192.168.101.1", "end": "192.168.101.254"}],
        "host_routes": [], "ip_version": 4, "gateway_ip": null, "cidr": "192.168.101.1/24",
        "id": "31e3a6cb-0b5a-4eb9-9b74-1e327b06225e"}}'
  recorded_at: Thu, 11 Dec 2014 20:16:10 GMT
recorded_with: VCR 2.9.3
