---
http_interactions:
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/subnets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"subnets": [{"name": "SomethingDifferent", "enable_dhcp": null, "network_id":
        "f45ce6cd-50f1-4415-ab7f-b14e60df2aa4", "tenant_id": "930035", "dns_nameservers":
        [], "allocation_pools": [{"start": "192.168.100.1", "end": "192.168.100.254"}],
        "host_routes": [], "ip_version": 4, "gateway_ip": null, "cidr": "192.168.100.1/24",
        "id": "50084567-7271-4b00-bae9-d173f412e7bb"}]}'
  recorded_at: Thu, 11 Dec 2014 20:12:51 GMT
[...]
- request:
    method: delete
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/subnets/50084567-7271-4b00-bae9-d173f412e7bb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Dec 2014 20:12:52 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/subnets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"subnets": []}'
  recorded_at: Thu, 11 Dec 2014 20:13:12 GMT
recorded_with: VCR 2.9.3
