---
http_interactions:
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/ports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3a2504b4a0494de3805964c47a9ab05b
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ports": [{"status": "ACTIVE", "name": "SomethingDifferent", "admin_state_up":
        true, "network_id": "eff4da21-e006-4468-b9ce-798eb2fed3e8", "tenant_id": "930035",
        "device_owner": null, "mac_address": "BC:76:4E:20:CB:0D", "fixed_ips": [{"subnet_id":
        "79a2a078-84bd-4ffd-8e68-67f7854bb772", "ip_address": "192.168.3.1"}], "id":
        "720de477-afec-4946-b6d7-695229373452", "security_groups": [], "device_id":
        ""}]}'
  recorded_at: Tue, 16 Dec 2014 20:45:03 GMT
[...]
- request:
    method: delete
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/ports/720de477-afec-4946-b6d7-695229373452
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3a2504b4a0494de3805964c47a9ab05b
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 16 Dec 2014 20:45:04 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/ports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3a2504b4a0494de3805964c47a9ab05b
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ports": []}'
  recorded_at: Tue, 16 Dec 2014 20:45:04 GMT
recorded_with: VCR 2.9.3
