---
http_interactions:
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "930035", "shared": false, "id": "94a354e1-64e5-48e8-9076-5e9efc6cd81f"}]}'
  recorded_at: Thu, 11 Dec 2014 20:11:03 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks/94a354e1-64e5-48e8-9076-5e9efc6cd81f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - b8480c1b9386484dbf1861ae35399cbd
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"network": {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "930035", "shared": false, "id": "94a354e1-64e5-48e8-9076-5e9efc6cd81f"}}'
  recorded_at: Thu, 11 Dec 2014 20:11:03 GMT
recorded_with: VCR 2.9.3
