---
http_interactions:
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/security-group-rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 3a2504b4a0494de3805964c47a9ab05b
  response:
    status:
      code: 401
      message: ''
    headers:
      Www-Authenticate:
      - Keystone uri=https://identity.api.rackspacecloud.com/v2.0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 09 Mar 2015 20:11:23 GMT
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: "{\"auth\":{\"RAX-KSKEY:apiKeyCredentials\":{\"username\":\"mattdarbytest\",\"apiKey\":\"c8b184b2c1e34662abfdb5d40a035aa0\"}}}"
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"access\":{\"token\":{\"id\":\"6b8010a207df4a9c8843792ffc50b445\",\"expires\":\"2015-03-10T10:16:08.492Z\",\"tenant\":{\"id\":\"930035\",\"name\":\"930035\"},\"RAX-AUTH:authenticatedBy\":[\"APIKEY\"]},\"serviceCatalog\":[{\"name\":\"cloudFilesCDN\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn5.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn4.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn1.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"HKG\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/cdn6.clouddrive.com\\/v1\\/MossoCloudFS_930035\"}],\"type\":\"rax:object-cdn\"},{\"name\":\"cloudFiles\",\"endpoints\":[{\"region\":\"IAD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.iad3.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"SYD\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet-storage101.syd2.clouddrive.com\\/v1\\/MossoCloudFS_930035\"},{\"region\":\"DFW\",\"tenantId\":\"MossoCloudFS_930035\",\"publicURL\":\"https:\\/\\/storage101.dfw1.clouddrive.com\\/v1\\/MossoCloudFS_930035\",\"internalURL\":\"https:\\/\\/snet[...]
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/security-group-rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6b8010a207df4a9c8843792ffc50b445
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"security_group_rules_links\": [{\"href\": \"http://localhost:9696/v2.0/security-group-rules?marker=6dc03435-3c7b-4401-bdca-a9658537b4db&page_reverse=True\",
        \"rel\": \"previous\"}], \"security_group_rules\": [{\"remote_group_id\":
        null, \"direction\": \"ingress\", \"remote_ip_prefix\": null, \"port_range_min\":
        null, \"tenant_id\": \"930035\", \"ethertype\": \"IPv4\", \"port_range_max\":
        null, \"id\": \"6dc03435-3c7b-4401-bdca-a9658537b4db\", \"protocol\": null,
        \"security_group_id\": \"9d16f1a8-1d7a-4f26-a65c-934898767b7d\"}]}"
  recorded_at: Mon, 09 Mar 2015 20:11:24 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/security-group-rules/6dc03435-3c7b-4401-bdca-a9658537b4db
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - 6b8010a207df4a9c8843792ffc50b445
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"security_group_rule\": {\"remote_group_id\": null, \"direction\":
        \"ingress\", \"remote_ip_prefix\": null, \"port_range_min\": null, \"tenant_id\":
        \"930035\", \"ethertype\": \"IPv4\", \"port_range_max\": null, \"id\": \"6dc03435-3c7b-4401-bdca-a9658537b4db\",
        \"protocol\": null, \"security_group_id\": \"9d16f1a8-1d7a-4f26-a65c-934898767b7d\"}}"
  recorded_at: Mon, 09 Mar 2015 20:11:25 GMT
recorded_with: VCR 2.9.3
