---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AAB9stWu2wEERUUfiTzB-YVa4OFwcmid0H7NRTXDBB0m9wcyHdmcvcOOBL3R5Oof0m1yw9rw05uXG7EZBYCDcWPpjFD-R1zueIpyAEF5sDARIC-RNH3mBS4ZJ3RWFoDj3Lrq865AJm5YWg","expires":"2016-03-15T16:15:36.178Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AAB9stWu2wEERUUfiTzB-YVa4OFwcmid0H7NRTXDBB0m9wcyHdmcvcOOBL3R5Oof0m1yw9rw05uXG7EZBYCDcWPpjFD-R1zueIpyAEF5sDARIC-RNH3mBS4ZJ3RWFoDj3Lrq865AJm5YWg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "PortTest",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "36ad233b-19c7-4327-988a-c085c55623a7"}, {"status": "ACTIVE", "subnets": ["b3070612-b3a7-49c7-b85f-4d9010a053b7"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "7d809f68-8408-4836-a349-e6f023edd313"}, {"status":
        "ACTIVE", "subnets": ["9eec9c4f-c920-4c8b-91be-221921a7e079"], "name": "ANewNetwork",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "855dc19f-66c6-4602-8868-b78b70e888fe"}, {"status": "ACTIVE", "subnets": ["bfcf2f21-61e8-4de9-bd0f-a6416617e017"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "c45ddfcd-a8bb-4d93-aff8-a40a083ac44a"}], "networks_links":
        [{"href": "http://localhost:9696/v2.0/networks?marker=36ad233b-19c7-4327-988a-c085c55623a7&page_reverse=True",
        "rel": "previous"}]}'
  recorded_at: Mon, 14 Mar 2016 16:19:50 GMT
- request:
    method: get
    uri: https://iad.networks.api.rackspacecloud.com/v2.0/ports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AAB9stWu2wEERUUfiTzB-YVa4OFwcmid0H7NRTXDBB0m9wcyHdmcvcOOBL3R5Oof0m1yw9rw05uXG7EZBYCDcWPpjFD-R1zueIpyAEF5sDARIC-RNH3mBS4ZJ3RWFoDj3Lrq865AJm5YWg
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ports_links": [{"href": "http://localhost:9696/v2.0/ports?marker=d761b7a7-e20b-4958-ad85-4a2fd3f456d0&page_reverse=True",
        "rel": "previous"}], "ports": [{"status": "ACTIVE", "name": "SomethingDifferent",
        "admin_state_up": true, "network_id": "00000000-0000-0000-0000-000000000000",
        "tenant_id": "<RS_TENANT_ID>", "device_owner": "compute:None", "mac_address":
        "BC:76:4E:21:0B:CC", "fixed_ips": [{"subnet_id": "00000000-0000-0000-0000-000000000000",
        "ip_address": "104.239.229.156"}, {"subnet_id": "11111111-1111-1111-1111-111111111111",
        "ip_address": "2001:4802:7803:104:be76:4eff:fe21:bcc"}], "id": "d761b7a7-e20b-4958-ad85-4a2fd3f456d0",
        "security_groups": [], "device_id": "917185a6-ea7c-4bae-8954-f58b39b8b7f2"},
        {"status": "ACTIVE", "name": "SomethingDifferent", "admin_state_up": true,
        "network_id": "11111111-1111-1111-1111-111111111111", "tenant_id": "<RS_TENANT_ID>",
        "device_owner": "compute:None", "mac_address": "BC:76:4E:21:11:B1", "fixed_ips":
        [{"subnet_id": "22222222-2222-2222-2222-222222222222", "ip_address": "10.176.205.166"}],
        "id": "b0fc9b19-1a1b-4171-981d-421907c099ad", "security_groups": [], "device_id":
      [...]
