---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAy4mt7uhdmh3gGiOA6HUaOWr6MPU2mz_SX173If5_i_u1IdiuDhY83-Yu-DCkWp11mH-6kV4VKhV3a1fQywIBzKPs4JGjGmYTgMopDHJnhFf4vht835Q4hKSZCHRtlC2VkTrttA","expires":"2016-03-18T14:43:58.984Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAy4mt7uhdmh3gGiOA6HUaOWr6MPU2mz_SX173If5_i_u1IdiuDhY83-Yu-DCkWp11mH-6kV4VKhV3a1fQywIBzKPs4JGjGmYTgMopDHJnhFf4vht835Q4hKSZCHRtlC2VkTrttA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "13222b4d-c73e-40ae-b565-d4871fd63755"}, {"status": "ACTIVE", "subnets": ["b66acfaa-6bff-4593-a4eb-887a96f19ef1"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "200893d2-7b68-4408-b1d7-9357926d47fa"}, {"status":
        "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up": true, "tenant_id":
        "<RS_TENANT_ID>", "shared": false, "id": "2bec444c-680b-49b8-ad2c-8c5bde6c613e"},
        {"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent", "admin_state_up":
        true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id": "91638ef2-7378-4fd8-ae06-f6cac4118005"},
        {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up":
        true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id": "a084a72e-a465-4e2f-b11c-130191a39095"},
        {"status": "ACTIVE", "subnets": ["8905b603-765e-458e-8869-0ecc41fa5d85"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "f681b06c-8485-4a93-9e12-e86fa7e451c4"}], "networks_links":
        [{"href": "http://localhost:9696/v2.0/networks?marker=13222b4d-c73e-40ae-b565-d4871fd63755&page_reverse=True",
        "rel": "previous"}]}'
  recorded_at: Thu, 17 Mar 2016 14:55:07 GMT
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/security-group-rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAy4mt7uhdmh3gGiOA6HUaOWr6MPU2mz_SX173If5_i_u1IdiuDhY83-Yu-DCkWp11mH-6kV4VKhV3a1fQywIBzKPs4JGjGmYTgMopDHJnhFf4vht835Q4hKSZCHRtlC2VkTrttA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"security_group_rules_links": [{"href": "http://localhost:9696/v2.0/security-group-rules?marker=151c31d8-12ac-428e-b0fb-aacebb5f4095&page_reverse=True",
        "rel": "previous"}], "security_group_rules": [{"remote_group_id": null, "direction":
        "ingress", "remote_ip_prefix": null, "port_range_min": null, "tenant_id":
        "<RS_TENANT_ID>", "ethertype": "IPv4", "port_range_max": null, "id": "151c31d8-12ac-428e-b0fb-aacebb5f4095",
        "protocol": null, "security_group_id": "ece536d2-d563-4858-b8db-d41fd4046513"}]}'
  recorded_at: Thu, 17 Mar 2016 14:55:08 GMT
[...]
- request:
    method: delete
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/security-group-rules/151c31d8-12ac-428e-b0fb-aacebb5f4095
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAy4mt7uhdmh3gGiOA6HUaOWr6MPU2mz_SX173If5_i_u1IdiuDhY83-Yu-DCkWp11mH-6kV4VKhV3a1fQywIBzKPs4JGjGmYTgMopDHJnhFf4vht835Q4hKSZCHRtlC2VkTrttA
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 17 Mar 2016 14:55:09 GMT
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/security-group-rules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAy4mt7uhdmh3gGiOA6HUaOWr6MPU2mz_SX173If5_i_u1IdiuDhY83-Yu-DCkWp11mH-6kV4VKhV3a1fQywIBzKPs4JGjGmYTgMopDHJnhFf4vht835Q4hKSZCHRtlC2VkTrttA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"security_group_rules_links": [{"href": "http://localhost:9696/v2.0/security-group-rules?page_reverse=True",
        "rel": "previous"}], "security_group_rules": []}'
  recorded_at: Thu, 17 Mar 2016 14:55:09 GMT
recorded_with: VCR 3.0.1
