---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAqmMVJaDRnDFG3rJKHhQ3wBGObnm1sKOIOmebtYwuqEPXeTVqgbQ2cgDgh6TyuOgffyFxbH4lIOnYCqmyxe9WcSFrTBRRHMBRNqwy6i_NBqlZ4IGEJYHx66sAXri1DeU2u6qItA","expires":"2016-03-18T14:36:21.623Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAqmMVJaDRnDFG3rJKHhQ3wBGObnm1sKOIOmebtYwuqEPXeTVqgbQ2cgDgh6TyuOgffyFxbH4lIOnYCqmyxe9WcSFrTBRRHMBRNqwy6i_NBqlZ4IGEJYHx66sAXri1DeU2u6qItA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJjMjAxYTk0Yi1lNTBjLTRjZTctYmJmMC0yMzhlYzI2MGEwMzUiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stacks": [{"description": "#### Single Server\n\nA single Linux server
        running a standalone instance of\n[redis 2.8.13](http://redis.io/).\n", "parent":
        null, "stack_status_reason": "Stack CREATE completed successfully", "stack_name":
        "def", "stack_user_project_id": "<RS_TENANT_ID>", "tags": null, "creation_time":
        "2016-03-17T14:17:06", "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "204c0f03-4070-40ff-82aa-ed72797261a1"}, {"description":
        "#### Single Server\n\nA single Linux server running a standalone instance
        of\n[redis 2.8.13](http://redis.io/).\n", "parent": null, "stack_status_reason":
        "Stack CREATE completed successfully", "stack_name": "abc", "stack_user_project_id":
        "<RS_TENANT_ID>", "tags": null, "creation_time": "2016-03-17T14:16:44", "links":
        [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/abc/6451682a-29cc-4c32-a847-b6feb98c81ff",
        "rel": "self"}], "updated_time": null, "stack_owner": null, "stack_status":
        "CREATE_COMPLETE", "id": "6451682a-29cc-4c32-a847-b6feb98c81ff"}]}'
  recorded_at: Thu, 17 Mar 2016 14:43:00 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAqmMVJaDRnDFG3rJKHhQ3wBGObnm1sKOIOmebtYwuqEPXeTVqgbQ2cgDgh6TyuOgffyFxbH4lIOnYCqmyxe9WcSFrTBRRHMBRNqwy6i_NBqlZ4IGEJYHx66sAXri1DeU2u6qItA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiI1NGE0NDQwYi03ZmExLTQxMTctYTRjNC0xNGE2MjU1NGM2N2QiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"resources": [{"resource_name": "redis_password", "links": [{"href":
        "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_password",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "stack"}], "logical_resource_id": "redis_password", "creation_time":
        "2016-03-17T14:17:06", "resource_status": "CREATE_COMPLETE", "updated_time":
        "2016-03-17T14:17:06", "required_by": ["redis_server_config"], "resource_status_reason":
        "state changed", "physical_resource_id": "def-redis_password-wflqay2ejepb",
        "resource_type": "OS::Heat::RandomString"}, {"resource_name": "redis_server",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_server",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1",
        "rel": "stack"}], "logical_resource_id": "redis_server", "creation_time":
        "2016-03-17T14:17:06", "resou[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAqmMVJaDRnDFG3rJKHhQ3wBGObnm1sKOIOmebtYwuqEPXeTVqgbQ2cgDgh6TyuOgffyFxbH4lIOnYCqmyxe9WcSFrTBRRHMBRNqwy6i_NBqlZ4IGEJYHx66sAXri1DeU2u6qItA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiJlMWRlOGZkYS0xNmYwLTQwYmEtYTE0ZC1hYzM0YjgwMDQyMjIiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"events": [{"resource_name": "def", "event_time": "2016-03-17T14:20:40",
        "links": [{"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/def/events/a306b048-98cf-4457-b46e-82efa3430b5b",
        "rel": "self"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/def",
        "rel": "resource"}, {"href": "https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/sta[...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAqmMVJaDRnDFG3rJKHhQ3wBGObnm1sKOIOmebtYwuqEPXeTVqgbQ2cgDgh6TyuOgffyFxbH4lIOnYCqmyxe9WcSFrTBRRHMBRNqwy6i_NBqlZ4IGEJYHx66sAXri1DeU2u6qItA
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Trans-Id:
      - eyJyZXF1ZXN0SWQiOiIwZTlhZTAzMC0yNTAxLTRkNGUtYjQ5ZC0zZDk5YjJiYTFhMDMiLCJvcmlnaW4iOm51bGx9
    body:
      encoding: UTF-8
      string: '{"stack":{"disable_rollback":true,"description":"#### Single Server\n\nA
        single Linux server running a standalone instance of\n[redis 2.8.13](http://redis.io/).\n","parent":null,"tags":null,"stack_name":"def","stack_user_project_id":"<RS_TENANT_ID>","stack_status_reason":"Stack
        CREATE completed successfully","creation_time":"2016-03-17T14:17:06","links":[{"href":"https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1","rel":"self"}],"capabilities":[],"notification_topics":[],"parameters":{"OS::project_id":"<RS_TENANT_ID>","OS::stack_id":"204c0f03-4070-40ff-82aa-ed72797261a1","OS::stack_name":"def","redis_hostname":"redis","image":"Ubuntu
        14.04 LTS (Trusty Tahr) (PV)","chef_version":"11.12.8","redis_port":"6379","flavor":"1
        GB General Purpose v1","redis_version":"2.8.14","kitchen":"https://github.com/rackspace-orchestration-templates/redis-single"},"timeout_mins":null,"stack_status":"CREATE_COMPLETE","stack_owner":null,"updated_time":null,"id":"204c0f03-4070-40ff-82aa-ed72797261a1","outputs":[{"output_value":"*****","output_key":"redis_password","description":"Redis
        Password"},{"output_value":"*****","output_key":"private_key","description":"SSH
        Private Key"},{"output_value":"104.130.142.142","output_key":"redis_server_ip","description":"Server
        IP"},{"output_value":6379,"output_key":"redis_port","description":"Redis Port"}],"template_description":"####
        Single Server\n\nA single Linux server running a standalone instance of\n[redis
        2.8.13](http://redis.io/).\n"}}'
  recorded_at: Thu, 17 Mar 2016 14:43:04 GMT
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/resources/redis_password/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAqmMVJaDRnDFG3rJKHhQ3wBGObnm1sKOIOmebtYwuqEPXeTVqgbQ2cgDgh6TyuOgffyFxbH4lIOnYCqmyxe9WcSFrTBRRHMBRNqwy6i_NBqlZ4IGEJYHx66sAXri1DeU2u6qItA
  response:
    status:
      code: [...]
- request:
    method: get
    uri: https://dfw.orchestration.api.rackspacecloud.com/v1/<RS_TENANT_ID>/stacks/def/204c0f03-4070-40ff-82aa-ed72797261a1/events?limit=3&sort_dir=desc&sort_key=resource_name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAqmMVJaDRnDFG3rJKHhQ3wBGObnm1sKOIOmebtYwuqEPXeTVqgbQ2cgDgh6TyuOgffyFxbH4lIOnYCqmyxe9WcSFrTBRRHMBRNqwy6i_NBqlZ4IGEJYHx66sAXri1DeU2u6qItA
  response:
    [...]
