---
http_interactions:
- request:
    method: post
    uri: https://identity.api.rackspacecloud.com/v2.0/tokens
    body:
      encoding: UTF-8
      string: '{"auth":{"RAX-KSKEY:apiKeyCredentials":{"username":"<RS_USERNAME>","apiKey":"<RS_API_KEY>"}}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - ''
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"access":{"token":{"id":"AACvJ2vAmvpPNBKumSp-pSOu2OFHy-Nhyf9K2I7i4c9wlrpxVSuafzdySDGuOxW8wtILikvbJUd7zT2aT-IXeAGquSiwwj130i5GhsKB2iWcw2f4CEVwYzJU1DHDhoO_rlkY3tUy6NCj-g","expires":"2016-03-18T14:58:11.061Z","tenant":{"id":"<RS_TENANT_ID>","name":"<RS_TENANT_ID>"},"RAX-AUTH:authenticatedBy":["APIKEY"]},"serviceCatalog":[{"name":"cloudFilesCDN","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn5.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn4.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"HKG","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/cdn6.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"}],"type":"rax:object-cdn"},{"name":"cloudFiles","endpoints":[{"region":"IAD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.iad3.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"SYD","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-storage101.syd2.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>"},{"region":"DFW","tenantId":"MossoCloudFS_<RS_TENANT_ID>","publicURL":"https:\/\/storage101.dfw1.clouddrive.com\/v1\/MossoCloudFS_<RS_TENANT_ID>","internalURL":"https:\/\/snet-st[...]
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/networks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAmvpPNBKumSp-pSOu2OFHy-Nhyf9K2I7i4c9wlrpxVSuafzdySDGuOxW8wtILikvbJUd7zT2aT-IXeAGquSiwwj130i5GhsKB2iWcw2f4CEVwYzJU1DHDhoO_rlkY3tUy6NCj-g
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"networks": [{"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent",
        "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id":
        "13222b4d-c73e-40ae-b565-d4871fd63755"}, {"status": "ACTIVE", "subnets": ["b66acfaa-6bff-4593-a4eb-887a96f19ef1"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "200893d2-7b68-4408-b1d7-9357926d47fa"}, {"status":
        "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up": true, "tenant_id":
        "<RS_TENANT_ID>", "shared": false, "id": "2bec444c-680b-49b8-ad2c-8c5bde6c613e"},
        {"status": "ACTIVE", "subnets": [], "name": "SomethingDifferent", "admin_state_up":
        true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id": "91638ef2-7378-4fd8-ae06-f6cac4118005"},
        {"status": "ACTIVE", "subnets": [], "name": "ANewNetwork", "admin_state_up":
        true, "tenant_id": "<RS_TENANT_ID>", "shared": false, "id": "a084a72e-a465-4e2f-b11c-130191a39095"},
        {"status": "ACTIVE", "subnets": ["8905b603-765e-458e-8869-0ecc41fa5d85"],
        "name": "ANewNetwork", "admin_state_up": true, "tenant_id": "<RS_TENANT_ID>",
        "shared": false, "id": "f681b06c-8485-4a93-9e12-e86fa7e451c4"}], "networks_links":
        [{"href": "http://localhost:9696/v2.0/networks?marker=13222b4d-c73e-40ae-b565-d4871fd63755&page_reverse=True",
        "rel": "previous"}]}'
  recorded_at: Thu, 17 Mar 2016 14:54:39 GMT
- request:
    method: get
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/ports
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAmvpPNBKumSp-pSOu2OFHy-Nhyf9K2I7i4c9wlrpxVSuafzdySDGuOxW8wtILikvbJUd7zT2aT-IXeAGquSiwwj130i5GhsKB2iWcw2f4CEVwYzJU1DHDhoO_rlkY3tUy6NCj-g
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ports_links": [{"href": "http://localhost:9696/v2.0/ports?marker=2a4c5032-fbc7-4b49-9558-140733611042&page_reverse=True",
        "rel": "previous"}], "ports": [{"status": "ACTIVE", "name": "", "admin_state_up":
        true, "network_id": "11111111-1111-1111-1111-111111111111", "tenant_id": "<RS_TENANT_ID>",
        "device_owner": "compute:None", "mac_address": "BC:76:4E:06:7C:87", "fixed_ips":
        [{"subnet_id": "22222222-2222-2222-2222-222222222222", "ip_address": "10.208.231.152"}],
        "id": "2a4c5032-fbc7-4b49-9558-140733611042", "security_groups": [], "device_id":
        "5b760c02-ad83-4951-b8dd-95b19edfdb54"}, {"status": "ACTIVE", "name": "",
        "admin_state_up": true, "network_id": "00000000-0000-0000-0000-000000000000",
        "tenant_id": "<RS_TENANT_ID>", "device_owner": "compute:None", "mac_address":
        "BC:76:4E:06:41:D6", "fixed_ips": [{"subnet_id": "11111111-1111-1111-1111-111111111111",
        "ip_address": "2001:4800:7818:101:be76:4eff:fe06:41d6"}, {"subnet_id": "00000000-0000-0000-0000-000000000000",
        "ip_address": "23.253[...]
- request:
    method: put
    uri: https://dfw.networks.api.rackspacecloud.com/v2.0/ports/2a4c5032-fbc7-4b49-9558-140733611042
    body:
      encoding: UTF-8
      string: '{"port":{"name":"SomethingDifferent"}}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - AACvJ2vAmvpPNBKumSp-pSOu2OFHy-Nhyf9K2I7i4c9wlrpxVSuafzdySDGuOxW8wtILikvbJUd7zT2aT-IXeAGquSiwwj130i5GhsKB2iWcw2f4CEVwYzJU1DHDhoO_rlkY3tUy6NCj-g
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"port": {"status": "ACTIVE", "name": "SomethingDifferent", "admin_state_up":
        true, "network_id": "11111111-1111-1111-1111-111111111111", "tenant_id": "<RS_TENANT_ID>",
        "device_owner": "compute:None", "mac_address": "BC:76:4E:06:7C:87", "fixed_ips":
        [{"subnet_id": "22222222-2222-2222-2222-222222222222", "ip_address": "10.208.231.152"}],
        "id": "2a4c5032-fbc7-4b49-9558-140733611042", "security_groups": [], "device_id":
        "5b760c02-ad83-4951-b8dd-95b19edfdb54"}}'
  recorded_at: Thu, 17 Mar 2016 14:54:41 GMT
recorded_with: VCR 3.0.1
